/*--------------------------------------------
 * Categories Page Sections                  *
---------------------------------------------*/



/* Heading
---------------------------------------------*/

.categoria-heading {
  background: url(/img/categoria/writing.jpeg);
  background-repeat: no-repeat;
  background-position: center 55%;
  background-size: cover;
}

.categoria-heading h1 {
  font-size: $cta-h1-size;
}

.categoria-heading p {
  font-size: 1.5em;
}

.categoria-heading button {
  font-size: .75em;
  margin-top: 15px;
}



/* Content
---------------------------------------------*/

.faq a {
  color: $font-color;
  text-decoration: none;
}

.panel-heading {
  padding: 20px;
  background-color: $background-panel;
}

.faq-heading {
  position: relative;
}

.faq-heading:hover {
  background-color: $background-panel-hover;
}

.faq-title {
  width: 95%;
}

.panel-title {
  font-size: 1.25em;
  line-height: 1.5em;
}

.panel-title a {
  display: block;
  padding: 20px;
  margin: -20px;
}

.faq-anchor-link {
  position: absolute;
  display: inline-block;
  top: 0px;
  right: 0px;
  width: 5%;
  height: 100%;
}

.faq-anchor {
  position: absolute;
  top: -100px
}

.anchor-icon {
  position: absolute;
  top: 15px;
  right: 10px;
  color: $anchor-icon-color;
  font-size: .75em;
}

.panel-body {
  padding: 20px;
}

.accordion-cta {
  margin-top: 40px;
}

.accordion-cta button {
  margin-top: 10px;
  white-space: normal;
}

.categoria-body h3 {
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
}

@media (max-width: 992px) {
  .contact-panel {
    margin-top: 20px;
  }
}

.team-photo {
  max-width: 250px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.team-quote {
  border: none;
  margin-bottom: 40px;
}

  .team-quote p {
    text-align: center;
    font-style: italic;
  }

.contact-panel-form {
  margin-top: 0px;
  margin-bottom: 0px;
}

  .contact-panel-form textarea {
    resize: vertical;
    font-size: $base-font-size;
  }

  .contact-panel-form-btn {
    margin-top: 10px;
    margin-bottom: 15px;
  }
