/* Contact Form
---------------------------------------------*/
.contact-form h4 {
  text-align: center;
  text-transform: uppercase;
  font-size: 2em;
}

.contact-form h5 {
  text-align: center;
  font-size: 1.25em;
}

.bold {
  font-weight: bold;
}

.contact-form form {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.form-group {
  margin-bottom: 10px;
}

.btn-default.active {
  background-color: $button-toggle-color !important;
}

.contact-form textarea {
  resize: vertical;
}

.contact-form .btn-lg {
  margin-top: 10px;
}
