/* Global
---------------------------------------------*/



/* Resets */

body {
  font-family: "Open Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 300;

  // Move content down because we have a fixed navbar
  padding-top: 70px;
}

// Move content down adjustment for mobile navbar
@media (max-width: $navbar-breakpoint-size) {
  body {
    padding-top: 50px;
  }
}

// Constraining display width on large screens
@media (min-width: $lg-size) {
  .container {
      width: 1000px;
  }
}

h1, h2, h3, h4 {
  font-family: "Raleway", serif;
  font-weight: 300;
}

// To comply with SEO best practices, treat h2 as if h1
h2 {
  font-size: $h2-size;
}

@media (max-width: $md-size) {
  h2 {
    font-size: $h2-mobile-size;
  }
}

p {
  font-size: $base-font-size;
}

.btn-lg {
  margin-top: 20px;
}





/* Global Patterns */

// MisAbogados jumbotron style

.jumbotron {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;

  color: $inverse-font-color;
  text-align: center;

  h1 {
    font-size: $home-cta-h1-size;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 4em;
  }

  p {
    // TODO convert to variable
    font-size: 1.85em;
  }

  button {
    font-size: 1em;
    margin-top: 40px;
    margin-bottom: 80px;
  }

  h6 {
    // TODO convert to variable
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
  }
}

// Adjustments for large screens
@media (min-width: $navbar-breakpoint-size) {
  .jumbotron h1 {
    // TODO convert to variable
    font-size: 3.25em;
  }
}

// Adjustments for mobile
@media (max-width: $md-size) {
  .jumbotron {
    h1 {
      font-size: $home-cta-h1-mobile-size;
      margin-top: $home-cta-h1-mobile-size;
    }

    button {
      margin-bottom: 50px;
    }
  }
}

// Adjustments for "information" pages
.information-page-heading {
  h1 {
    margin-top: 3em;
    margin-bottom: 3em;
    text-transform: none;
  }

  @media (max-width: $xs-size) {
    h1 {
      margin-top: 2em;
      margin-bottom: 2em;
    }
  }
}



// MisAbogados section styles

.section-padding {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section {
  @extend .section-padding;

  h2 {
    font-size: $h2-size - .25;
    margin-bottom: 30px;
  }

  @media (max-width: $md-size) {
    h2 {
      font-size: $h2-mobile-size;
    }
  }

  /* Center headings on mobile */
  @media (max-width: $xs-size) {
    .col-xs-12 h2 {
      text-align: center;
    }
  }
}

/* For stacking sections of same color */
.section-extended {
  padding-top: 0px;
}

@media (max-width: $xs-size) {
  .section-extended{
    // TODO this is hacky
    margin-top: -40px;
  }
}

.section-white {
  h1, h2, h3, h4, h5 {
    color: $background-blue;
  }
}

// TODO rename to section-inverse?
.section-blue {
  background-color: $background-blue;

  h1, h2, h3, h4, h5, p {
    color: $inverse-font-color;
  }

  li {
    color: $inverse-font-color;
    font-size: $base-font-size;
  }
}

.section-header {
  max-width: 725px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;

  p {
    margin-top: 15px;
  }
}



// Image description styling
// TODO what is this for again?

.img-description {
  @media (max-width: $xs-size) {
    h3 {
      margin-top: 10px;
    }
  }
}



// Glyphicon styling

.glyphicon {
  vertical-align: middle;
  margin-top: -5px;
}

.glyphicon-left {
  margin-right: 5px;
}



// Anchor styling

.anchor {
 display: block;
 height: 100px;
 margin: -100px 0 0;
 visibility: hidden;
}

@media (max-width: $md-size) {
  .anchor {
    display: block;
    height: 50px;
    margin: -50px 0 0;
    visibility: hidden;
  }
}



// Alert styling

.alert-top {
  position: absolute;
  top: 105px;
  width: 80%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: $navbar-breakpoint-size) {
  .alert-top {
    top: 70px;
  }
}
