/* Helpers
---------------------------------------------*/

/* Helper method for vertically aligning two columns */
.vertically-center-cols {
  display: inline-block;
  vertical-align: middle;
  float: none;
  // the following hacking around a whitespace issue
  margin-right: -4px;
}

// TODO refactor these colour overlay styles
/* Adds a black overlay with transparency */
.dark-bg {
  background-color: rgba($background-grey, 0.5);
}

/* Adds a green overlay with transparency */
.green-bg {
  background-color: rgba($background-green, 0.75);
}

/* Adds a blue overlay with transparency */
.blue-bg {
  background-color: rgba($background-blue, 0.8);
}

/* Counters section padding */
.background-overlay {
  @extend .section-padding;
  margin-top: -60px;
  margin-bottom: -60px;
}

/* Adds a dark overlay with transparency */
.darken-bg {
  @extend .background-overlay;
  background-color: rgba($background-grey, 0.6);
}

/* Adds a green overlay with transparency */
.greenen-bg {
  @extend .background-overlay;
  background-color: rgba($background-green, 0.65);
}

/* Adds a blue overlay with transparency */
.bluen-bg {
  @extend .background-overlay;
  background-color: rgba($background-blue, 0.5);
}

.bluen-bg-dark {
  @extend .background-overlay;
  background-color: rgba($background-blue, 0.8);
}

// Provides stacked columns with a bit of spacing on mobile devices
.collapse-nicely {
  @media (max-width: $xs-size) {
     .col-xs-12 {
      margin-bottom: 40px;
    }
  }
}

/* Adds helper class for removing button background */
.btn-no-fill {
  background-color: rgba(0, 0, 0, 0);
  color: $inverse-font-color;
}

/* For implementing a 5 colum layout */
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: $xs-size) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: $md-size) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: $lg-size) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}
