/* Helpers
---------------------------------------------*/

/* Adds a black overlay with transparency */
.dark-bg {
  background-color: rgba(0, 0, 34, 0.498039);
  padding-top: 30px;
  padding-bottom: 30px;
}

.darken-bg {
  background-color: rgba(85, 85, 85, 0.498039);
  margin-top: -60px;
  margin-bottom: -60px;
  padding-top: 60px;
  padding-bottom: 60px;
}

/* Adds a blue overlay with transparency */
.bluen-bg {
  background-color: rgba(40, 119, 215, 0.498039);
  margin-top: -60px;
  margin-bottom: -60px;
  padding-top: 60px;
  padding-bottom: 60px;
}

/* Adds helper class for removing button background */
.btn-no-fill {
  background-color: rgba(0, 0, 0, 0);
  color: #FFFFFF;
}

/* For implementing a 5 colum layout */
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}
