/*--------------------------------------------
 * Home Page Sections                        *
---------------------------------------------*/



/* Shared CTA styles
---------------------------------------------*/
.cta .thumbnail {
  background: transparent;
  border: none;
}

.cta .thumbnail img {
  max-height: 75px;
}



/* Main CTA
---------------------------------------------*/

.cta-main {
  background: url(/img/main-cta/cta-bg.jpg);
  background-repeat: no-repeat;
  background-position: 35% 20%;
  background-size: cover;
}

@media (max-width: 1090px) {
  .cta-main {
  // A hacky way to fix image limitation
  // TODO: fix (to do with two-row to one-row navbar collapse)
  margin-top: -15px;
  padding-top: 15px;
  }
}



/* Categories Section
---------------------------------------------*/

.categories-section {

  h2 {
    text-align: center;
  }

  .input-group {
    max-width: 350px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    float: none;
  }

  // TODO center vertically
  @media (min-width: 992px) {
    .input-group {
      padding-top: 25px;
      padding-bottom: 0px;
      float: left;
    }
  }
}
.categories-list {
  margin-top: 35px;
}

.categories-list .thumbnail {
  position: relative;
  overflow: hidden;
  height: 160px;
  background-color: $background-panel;
}

.caption h5 {
  color: $font-color;
  font-size: .85em;
}

@media (min-width: 992px) {
  .caption h5 {
    font-size: 1em;
  }
}

.caption-overlay {
  background-color: $background-caption-overlay;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 2%;
  opacity: 0;
  z-index: 2;
  text-align: center;
}

.caption-overlay h5 {
  color: $inverse-font-color !important;
  font-size: 1.05em;
  font-weight: bold;
  margin-top: 30px;
}

.caption-overlay button {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  bottom: 15px;
}

.caption-overlay button span {
  margin-right: 0px;
}

.caption-overlay:hover {
  opacity: 100;
}

.categories-list img {
  height: 75px;
  margin-top: 15px;
}

.categories-list h5 {
  text-align: center;
  text-transform: uppercase;
}



/* Laywers Section
---------------------------------------------*/

@media (max-width: 768px) {
  .lawyer-list {
    margin-top: 75px;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
  }
}

.lawyer-list li {
  list-style-type: none;
  margin-bottom: 40px;
  font-size: 14px;
}

.lawyer-list h4 {
  font-weight: bold;
  margin-top: 5px;
}

.lawyer-pic img {
  max-width: 150px;
}

.icon-certificate {
  height: 20px;
  vertical-align: middle;
  margin-top: -5px;
}

.icon-star {
  height: 20px;
}

@media (max-width: 787px) {
  .lawyer-list h4 {
    font-size: $base-font-size;
  }
}



/* Testimonies Section
---------------------------------------------*/

.testimonies-section h2 {
  padding-bottom: 40px;
}

.testimonies-list li {
  list-style-type: none;
  margin-bottom: 30px;
}

.testimonies-list img {
  max-height: 125px;
  float: right;
}

.testimonies-list h4 {
  text-transform: uppercase;
  font-weight: bold;
}

.testimonies-list blockquote {
  font-size: $base-font-size;
  font-style: italic;
  padding: 0px;
  margin-bottom: 0px;
  border-left: none;
}

@media (max-width: 787px) {

  .testimonies-section h2 {
    padding-bottom: 20px;
  }

  .testimonies-list {
    padding-left: 20px;
  }

  .testimonies-list h4 {
    font-size: $base-font-size;
  }

  .testimonies-list blockquote {
    font-size: 14px;
  }
}

.testimony-video {
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 992px) {
  .testimony-video {
    margin-top: 5%;
  }
}


/* Garantia Section
---------------------------------------------*/

.garantia-section img {
  padding-top: 30px;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 991px) {
  .garantia-section h2 {
    margin-top: 50px;
  }
}

.garantia-section li {
  font-size: $base-font-size;
}



/* Second CTA
---------------------------------------------*/

.cta-second {
  background: url(/img/second-cta/cierre-2.jpg) no-repeat center;
  background-size: cover;
  padding-bottom: 30px;
  margin-bottom: 0px;
}

.cta-second h2 {
  font-size: $home-cta-h1-size;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 4em;
}

@media (max-width: 992px) {
  .cta h2 {
    margin-top: $home-cta-h1-mobile-size;
  }
}



/* Radio Agricultura Player
---------------------------------------------*/
.radioAgriculturaPlayer {
  text-align: center;
}

.radioAgriculturaPlayer audio {
  margin-top: 10px;
  margin-bottom: 20px;
}

.home-page-anchor {
  position: absolute;
  top: -100px
}

.testimonies-section > .container {
  position: relative;
  }
