/*--------------------------------------------
 * Lawyers' Landing Page Sections            *
---------------------------------------------*/



/* CTA
---------------------------------------------*/

.cta-main-lawyers {
  background: url(/img/lawyers-landing-page/looking-at-computer.jpg);
  background-size: cover;
  background-position: 70% 95%;
  background-repeat: no-repeat;
}



/* Access New Clients
---------------------------------------------*/

.access-new-clients {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;

  p {
    margin-top: 15px;
  }
}



/* Grow Your Business With Technology
---------------------------------------------*/

.grow-with-technology {
  h2 {
    margin-bottom: 80px;
  }

  p {
    margin-top: 30px;
    margin-bottom: 20px;
  }

}



/* Hundreds of Lawyers use MisAbogados
---------------------------------------------*/

.social-proof {
  background: url(/img/lawyers-landing-page/guy-with-phone.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: 15% 0%;
  background-repeat: no-repeat;

  h2 {
    margin-top: 100px;
    margin-bottom: 30px;
  }

  p {
    margin-bottom: 100px;
  }
}



/* Client Break-down
---------------------------------------------*/

.client-break-down {
  background: url(/img/lawyers-landing-page/desk-with-objects.png);
  background-size: cover;
  background-position: 44% 0%;
  background-repeat: no-repeat;

  h2 {
    margin-bottom: 40px;
  }

  h3 {
    margin-top: 10px;
  }
}



/* Register now section
---------------------------------------------*/

.register-now {

  @media (max-width: 992px) {
    h1 {
      font-size: 34px;
    }
  }

  button {
    font-size: $base-font-size + 4;
    margin-bottom: 50px;
  }
}



/* Registration form
---------------------------------------------*/

#lawyerRegistrationForm {
  .modal-header {
    background-color: $background-blue;
    color: $inverse-font-color;
  }

  .modal-title {
    text-align: center;
    font-size: $h2-size - 1;
  }

  .close {
    color: $inverse-font-color;
    opacity: 0.6;
  }

  .close:hover {
    opacity: 0.9;
  }
}

#lawyer_registration_form {
  max-width: 400px;
  margin: 15px auto;
}
