/* Navbar
---------------------------------------------*/

/* 2 row navbar */
@media (min-width: $xs-size) {
  .two-row .navbar-collapse {
    clear: left;
  }
}

/* Redefines navbar breakpoint */
@media (max-width: $navbar-breakpoint-size) {
  .navbar-header {
    float: none;
  }
  .navbar-left,.navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in{
    display:block !important;
  }
}

.navbar {
  background-color: $background-grey;
}

.navbar .container {
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
}

.navbar-header {
  float: none;
  padding-left: 25px;
  padding-right: 25px;
}

.navbar-fixed-top {
  border-bottom: solid 1px #363636;
}

.navbar-brand {
  height: 50px;
  margin-left: 5px !important;
  padding: 9px 0px;
}

.navbar-logo {
  height: 33px;
}

@media (min-width: $navbar-breakpoint-size) {
  .navbar-brand {
    height: 50px;
    margin-left: 0px !important;
    padding: 9px 0px;
  }

  .navbar-logo {
    height: 33px;
  }

}

.navbar-ctl {
  height: 50px;
  float: right;
  padding-right: 5px;
}

  .navbar-ctl li {
    float: left;
    margin-right: 20px;
    padding-top: 15px;
  }

  .navbar-ctl li:last-of-type {
    margin-right: 0px;
  }

  .navbar-ctl a {
    color: $inverse-font-color !important;
    font-size: $base-font-size;
    font-weight: bold;
    text-decoration: none;
  }

  .navbar-ctl a:hover {
    color: $inverse-font-color-hover !important;
  }

  .navbar-ctl ul {
    padding-left: 0px !important;
    min-width: 150px;
  }

@media (min-width: $xs-size) {
  .country-selector {
    padding-top: 12px !important;
  }
}

  .dropdown-toggle img {
    height: 25px;
  }

  .country-selector li {
    width: 100%;
    padding-top: 0px;
  }

  .country-selector li img {
    margin-right: 10px;
    height: 20px;
  }

  .country-selector li a {
    padding: 10px 20px !important;
    font-size: 14px;
  }

.navbar-button a {
  margin-top: 2px;
  color: $inverse-font-color !important;
  font-weight: bold;
}

.navbar-button a:hover {
  color: $inverse-font-color-hover !important;
}

.dropdown-menu {
  background-color: $background-grey;
  color: $inverse-font-color;
}

.categoria-list {
  font-size: 14px;
  width: 300px !important;
}

.categoria-list li a {
  padding-top: 3px !important;
  padding-bottom: 3px !important;
}

.dropdown-menu li a {
  white-space: normal;
}

.dropdown-menu li a:hover {
  background-color: #454545 !important;
}

.navbar-button button {
  margin-left: 15px;
  margin-bottom: 25px;
}

@media (min-width: $navbar-breakpoint-size) {

  .button-bar {
    height: 30px;
  }

  .navbar-button a {
    margin-top: 0px;
    padding-top: 7px !important;
    padding-bottom: 6px !important;
  }

  .navbar ul {
    padding-left: 0px;
    border-top: solid 1px #363636;
    width: 100%;
  }

  .navbar-button {
    width: 16.66666666666667%;
    border-left: solid 1px #363636;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    background: linear-gradient(top, #2b2b2b, #262626); /* Standard syntax */
      background: -webkit-linear-gradient(top, #2b2b2b, #262626); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(top, #2b2b2b, #262626); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(top, #2b2b2b, #262626); /* For Firefox 3.6 to 15 */
  }

  .navbar-button button {
    margin-top: 4px;
    margin-left: 0px;
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: bold;
    max-height: 25px;
    max-width: 175px;
    padding-top: 2px;
    padding-bottom: 2px;
  }

  .navbar-button button span {
    margin-top: -3px;
    font-weight: bold;
  }

  .navbar-button:last-of-type {
    border-right: solid 1px #363636;
  }
}

.navbar-toggle {
  margin-right: 5px;
}

@media (min-width: $xs-size) {
  .navbar-toggle {
    margin-right: 5px;
    margin-left: 15px;
  }
}

@media (max-width: $navbar-breakpoint-size) {
  .navbar-collapse ul {
    padding-left: 20px;
  }

  .navbar-nav li a {
    padding-top: 6px;
    padding-bottom: 6px;
  }
}
