/*--------------------------------------------
 * Static Page Sections                  *
---------------------------------------------*/



/* Shared classes
---------------------------------------------*/

.static-content {
  @extend .section-padding;
  max-width: 820px;
}

.static-content h1 {
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 20px;
}

.static-content h3 {
  margin-top: 40px;
}

.static-content p {
  margin-bottom: 1em;
}

.static-content ol {
  margin-top: -10px;
  margin-bottom: 20px;
  font-size: 1.25em;
}



/* Terms & Conditions
---------------------------------------------*/

.version {
  color: #6f6f6f;
  font-size: $base-font-size;
  font-weight: normal;
}



/* Garantía
---------------------------------------------*/

.header-img {
  margin-bottom: 40px;
}

.guarantee-cta {
  margin-top: 60px;
}
