    <div class="row  categories-list">
      <div class="col-lg-2  col-md-3  col-sm-3  col-xs-6">
        <a href="/categoria/registro-de-una-marca">
          <div class="thumbnail">
            <div class="caption-overlay">
              <h5>Registro de marca</h5>
              <button type="button" class="btn  btn-default">Ver más <span class="glyphicon  glyphicon-menu-right"></span></button>
            </div>
            <img src="/img/categories/registro_de_marca.svg" alt="Registro de marca">
            <div class="caption">
              <h5>Registro de marca</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-2  col-md-3  col-sm-3  col-xs-6">
        <a href="/categoria/divorcio">
          <div class="thumbnail">
            <div class="caption-overlay">
              <h5>Divorcio</h5>
              <button type="button" class="btn  btn-default">Ver más <span class="glyphicon  glyphicon-menu-right"></span></button>
            </div>
            <img src="/img/categories/divorcio.svg" alt="Divorcio">
            <div class="caption">
              <h5>Divorcio</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-2  col-md-3  col-sm-3  col-xs-6">
        <a href="/categoria/proceso-ejecutivo">
          <div class="thumbnail">
            <div class="caption-overlay">
              <h5>Cobranza</h5>
              <button type="button" class="btn  btn-default">Ver más <span class="glyphicon  glyphicon-menu-right"></span></button>
            </div>
            <img src="/img/categories/cobranza.svg" alt="Proceso ejecutivo">
            <div class="caption">
              <h5>Cobranza</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-2  col-md-3  col-sm-3  col-xs-6">
        <a href="/categoria/letra-de-cambio">
          <div class="thumbnail">
            <div class="caption-overlay">
              <h5>Redaccion de contratos</h5>
              <button type="button" class="btn  btn-default">Ver más <span class="glyphicon  glyphicon-menu-right"></span></button>
            </div>
            <img src="/img/categories/redaccion_de_contratos.svg" alt="Letra de cambio">
            <div class="caption">
              <h5>Redaccion de contratos</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-2  col-md-3  col-sm-3  col-xs-6">
        <a href="/categoria/derechos-del-consumidor">
          <div class="thumbnail">
            <div class="caption-overlay">
              <h5>Derechos del consumidor</h5>
              <button type="button" class="btn  btn-default">Ver más <span class="glyphicon  glyphicon-menu-right"></span></button>
            </div>
            <img src="/img/categories/derechos_del_consumidor.svg" alt="Derechos del consumidor">
            <div class="caption">
              <h5>Derechos del consumidor</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-2  col-md-3  col-sm-3  col-xs-6">
        <a href="/categoria/visas">
          <div class="thumbnail">
            <div class="caption-overlay">
              <h5>Extranjeria</h5>
              <button type="button" class="btn  btn-default">Ver más <span class="glyphicon  glyphicon-menu-right"></span></button>
            </div>
            <img src="/img/categories/extranjeria.svg" alt="Visas">
            <div class="caption">
              <h5>Extranjeria</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-2  col-md-3  col-sm-3  col-xs-6">
        <a href="/categoria/delitos">
          <div class="thumbnail">
            <div class="caption-overlay">
              <h5>Delitos</h5>
              <button type="button" class="btn  btn-default">Ver más <span class="glyphicon  glyphicon-menu-right"></span></button>
            </div>
            <img src="/img/categories/delitos.svg" alt="Delitos">
            <div class="caption">
              <h5>Delitos</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-2  col-md-3  col-sm-3  col-xs-6">
        <a href="/categoria/deslinde-y-amojonamiento">
          <div class="thumbnail">
            <div class="caption-overlay">
              <h5>Subdivision de terrenos</h5>
              <button type="button" class="btn  btn-default">Ver más <span class="glyphicon  glyphicon-menu-right"></span></button>
            </div>
            <img src="/img/categories/subdivision_de_terrenos.svg" alt="Deslinde y amojonamiento">
            <div class="caption">
              <h5>Subdivision de terrenos</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-2  col-md-3  col-sm-3  col-xs-6">
        <a href="/categoria/sociedad-por-acciones-simplificada">
          <div class="thumbnail">
            <div class="caption-overlay">
              <h5>Modificacion de sociedades</h5>
              <button type="button" class="btn  btn-default">Ver más <span class="glyphicon  glyphicon-menu-right"></span></button>
            </div>
            <img src="/img/categories/modificacion_de_sociedades.svg" alt="Sociedad por acciones simplificada">
            <div class="caption">
              <h5>Modificacion de sociedades</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-2  col-md-3  col-sm-3  col-xs-6">
        <a href="/categoria/accidente-de-trabajo">
          <div class="thumbnail">
            <div class="caption-overlay">
              <h5>Derecho laboral</h5>
              <button type="button" class="btn  btn-default">Ver más <span class="glyphicon  glyphicon-menu-right"></span></button>
            </div>
            <img src="/img/categories/derecho_laboral.svg" alt="Accidente de trabajo">
            <div class="caption">
              <h5>Derecho laboral</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-2  col-md-3  col-sm-3  col-xs-6">
        <a href="/categoria/el-arrendamiento">
          <div class="thumbnail">
            <div class="caption-overlay">
              <h5>Juicio de arrendamiento</h5>
              <button type="button" class="btn  btn-default">Ver más <span class="glyphicon  glyphicon-menu-right"></span></button>
            </div>
            <img src="/img/categories/juicio_de_arrendamiento.svg" alt="Arrendamiento">
            <div class="caption">
              <h5>Juicio de arrendamiento</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-2  col-md-3  col-sm-3  col-xs-6">
        <a href="/categoria/regimen-de-visitas">
          <div class="thumbnail">
            <div class="caption-overlay">
              <h5>Derecho de visitas</h5>
              <button type="button" class="btn  btn-default">Ver más <span class="glyphicon  glyphicon-menu-right"></span></button>
            </div>
            <img src="/img/categories/derecho_de_visitas.svg" alt="Régimen de visitas">
            <div class="caption">
              <h5>Derecho de visitas</h5>
            </div>
          </div>
        </a>
      </div>
    </div>