<!-- Contact Form -->
<div class="modal fade" id="contactForm" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel">
  <div class="modal-dialog  contact-form" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="contactModalLabel">A un paso de comenzar</h4>
        <h5>Déjanos tus datos para responderte dentro de los próximos minutos. <span class="bold">100% Confidencial.</span></h5>
        {% include "_contact_form.html" %}
      </div>
    </div>
  </div>
</div>
