<!-- Featured Lawyers -->
<div class="col-lg-6  col-md-6  col-sm-6  col-xs-12">
  <ul class="lawyer-list">
    <li>
      <div class="row">
        <div class="col-lg-4  col-md-4  col-sm-4  col-xs-4">
          <img src="/img/lawyers/alfonso_del_fierro.png" class="lawyer-pic  img-responsive" alt="Alfonso Del Fierro" />
        </div>
        <div class="col-lg-8  col-md-8  col-sm-8  col-xs-8">
          <h4>ALFONSO DEL FIERRO</h4>
          <img src="/img/lawyers/certificado.png" class="icon-certificate" alt="" /> Abogado Certificado
          <br>Especialista Familia<br>PUCV<br>
          <img src="/img/lawyers/estrella.png" class="icon-star"/><img src="/img/lawyers/estrella.png" class="icon-star"/><img src="/img/lawyers/estrella.png" class="icon-star"/><img src="/img/lawyers/estrella.png" class="icon-star"/><img src="/img/lawyers/estrella.png" class="icon-star"/>
        </div>
      </div>
    </li>
    <!--<li>
        <div class="row">
          <div class="col-lg-4  col-md-4  col-sm-4  col-xs-4">
            <img src="/img/lawyers/loreto_retamal.png" class="lawyer-pic  img-responsive" alt="Loreto Retamel" />
          </div>
          <div class="col-lg-8  col-md-8  col-sm-8  col-xs-8">
            <h4>LORETO RETAME</h4>
            <img src="/img/lawyers/certificado.png" class="icon-certificate" alt="" /> Abogado Certificado
            <br>Especialista Civil<br>Universidad Católica del Norte<br>
            <img src="/img/lawyers/estrella.png" class="icon-star"/><img src="/img/lawyers/estrella.png" class="icon-star"/><img src="/img/lawyers/estrella.png" class="icon-star"/><img src="/img/lawyers/estrella.png" class="icon-star"/><img src="/img/lawyers/estrella.png" class="icon-star"/>
          </div>
        </div>
    </li>-->
    <li>
      <div class="row">
        <div class="col-lg-4  col-md-4  col-sm-4  col-xs-4">
          <img src="/img/lawyers/marcelo_calderon.png" class="lawyer-pic  img-responsive" alt="Marcelo Calderon" />
        </div>
        <div class="col-lg-8  col-md-8  col-sm-8  col-xs-8">
          <h4>MARCELO CALDERON</h4>
          <img src="/img/lawyers/certificado.png" class="icon-certificate" alt="" /> Abogado Certificado
          <br>Especialista Civil<br>Universidad del Desarrollo<br>
          <img src="/img/lawyers/estrella.png" class="icon-star"/><img src="/img/lawyers/estrella.png" class="icon-star"/><img src="/img/lawyers/estrella.png" class="icon-star"/><img src="/img/lawyers/estrella.png" class="icon-star"/><img src="/img/lawyers/estrella.png" class="icon-star"/>
        </div>
      </div>
    </li>
  </ul>
      </div>
