<!-- Featured Lawyers -->
<div class="col-lg-6  col-md-6  col-sm-6  col-xs-12">
  <ul class="lawyer-list">
    <li>
      <div class="row">
        <div class="col-lg-4  col-md-4  col-sm-4  col-xs-4">
          <img src="/img/lawyers/co-poveda-vieira.png" class="lawyer-pic  img-responsive" alt="Alfonso Del Fierro" />
        </div>
        <div class="col-lg-8  col-md-8  col-sm-8  col-xs-8">
          <h4>CARLOS HENAO VIEIRA</h4>
          <img src="/img/lawyers/certificado.png" class="icon-certificate" alt="" /> Abogado Certificado
          <br>Especialista Comercial<br>Universidad Externado de Colombia<br>
          <img src="/img/lawyers/estrella.png" class="icon-star"/><img src="/img/lawyers/estrella.png" class="icon-star"/><img src="/img/lawyers/estrella.png" class="icon-star"/><img src="/img/lawyers/estrella.png" class="icon-star"/><img src="/img/lawyers/estrella.png" class="icon-star"/>
        </div>
      </div>
    </li>
    <li>
        <div class="row">
          <div class="col-lg-4  col-md-4  col-sm-4  col-xs-4">
            <img src="/img/lawyers/co-barriga.png" class="lawyer-pic  img-responsive" alt="Loreto Retamel" />
          </div>
          <div class="col-lg-8  col-md-8  col-sm-8  col-xs-8">
            <h4>ANDRÉS ALFREDO BARRIGA</h4>
            <img src="/img/lawyers/certificado.png" class="icon-certificate" alt="" /> Abogado Certificado
            <br>Especialista Comercial<br>Universidad de La Sabana<br>
            <img src="/img/lawyers/estrella.png" class="icon-star"/><img src="/img/lawyers/estrella.png" class="icon-star"/><img src="/img/lawyers/estrella.png" class="icon-star"/><img src="/img/lawyers/estrella.png" class="icon-star"/><img src="/img/lawyers/estrella.png" class="icon-star"/>
          </div>
        </div>
    </li>
    <li>
      <div class="row">
        <div class="col-lg-4  col-md-4  col-sm-4  col-xs-4">
          <img src="/img/lawyers/co-bautista-jaramillo.png" class="lawyer-pic  img-responsive" alt="Marcelo Calderon" />
        </div>
        <div class="col-lg-8  col-md-8  col-sm-8  col-xs-8">
          <h4>BAUTISTA JARAMILLO</h4>
          <img src="/img/lawyers/certificado.png" class="icon-certificate" alt="" /> Abogado Certificado
          <br>Especialistas en Contractual<br>Colegio Mayor de Nuestra Señora del Rosario<br>
          <img src="/img/lawyers/estrella.png" class="icon-star"/><img src="/img/lawyers/estrella.png" class="icon-star"/><img src="/img/lawyers/estrella.png" class="icon-star"/><img src="/img/lawyers/estrella.png" class="icon-star"/><img src="/img/lawyers/estrella.png" class="icon-star"/>
        </div>
      </div>
    </li>
  </ul>
      </div>
