<form id="login_form" method="POST" action="/login">
  {% csrf-field %}
  {% for field,message in messages.errors %}
  <div class="alert alert-danger">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <p>{{message}}</p>
  </div>
  {% endfor %}
  <div class="form-group">
    <label class="control-label" for="email">Email:</label>
    <input class="form-control" type="email" name="email" value="{{email}}" required/>
  </div>
  <div class="form-group">
    <label class="control-label" for="problem">Contraseña:</label>
    <input class="form-control" type="password" name="password" required>
  </div>
  <button class="btn btn-lg btn-block btn-info" data-loading-text="Cargando...">Ingresar</button>  
</form>

