      <h6>Destacados en:</h6>
      <div class="row">
        <div class="col-lg-3  col-md-3  col-sm-6  col-xs-6">
          <a href="http://pulsosocial.com/2015/07/06/misabogados-com-el-marketplace-chileno-que-cambia-y-facilita-la-relacion-abogado-cliente/" class="thumbnail"  target="_blank">
            <img src="/img/featured-in/pulso_social-ea6cbdba40506fd8b6e24e46879a288b.png" class="img-responsive" alt="MisAbogados.com en Pulso Social">
          </a>
        </div>
        <div class="col-lg-3  col-md-3  col-sm-6  col-xs-6">
          <a href="http://www.rcnradio.com/audios/la-plataforma-le-permite-encontrar-mejor-abogado-lo-asesora-sin-costo/" class="thumbnail" target="_blank">
            <img src="/img/featured-in/rcn_radio.png" class="img-responsive" alt="MisAbogados.com en RCN Radio">
          </a>
        </div>
        <div class="col-lg-3  col-md-3  col-sm-6  col-xs-6">
          <a href="http://www.eltiempo.com/economia/sectores/marcas-piden-pista-por-mas-inversion-no-petrolera/16537055" class="thumbnail" target="_blank">
            <img src="/img/featured-in/el_tiempo.png" class="img-responsive" alt="MisAbogados.com en El Tiempo">
          </a>
        </div>
        <div class="col-lg-3  col-md-3  col-sm-6  col-xs-6">
          <a role="button" class="thumbnail" data-toggle="modal" data-target=".radioBluPlayer">
            <img src="/img/featured-in/blu_radio.png" class="img-responsive" alt="MisAbogados.com en BLU Radio">
          </a>
        </div>
      </div>
