<form id="signup_form" method="POST" action="/signup">
  {% csrf-field %}
  {% for field,message in messages.errors %}
  <div class="alert alert-danger">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <p>{{message}}</p>
  </div>
  {% endfor %}
  <div class="form-group">
    <label class="control-label" for="lawyer_name">Nombre:</label>
    <input class="form-control" type="text" name="lawyer_name" placeholder="Nombre" required value="{{lawyer_name}}"/>
  </div>
  <div class="form-group">
    <label class="control-label" for="lawyer_email">Email:</label>
    <input class="form-control" type="email" name="lawyer_email" placeholder="Email" required value="{{lawyer_email}}"/>
  </div>
  <div class="form-group">
    <label class="control-label" for="lawyer-password">Contraseña:</label>
    <input class="form-control" type="password" name="lawyer-password" placeholder="Contraseña">
  </div>
  <div class="form-group">
    <label class="control-label" for="lawyer-password-confirm">Confirmar Contraseña:</label>
    <input class="form-control" type="password" name="lawyer-password-confirm" placeholder="Confirmar Contraseña">
  </div>
  <div class="form-group {% if lawyers_only %}hidden{% endif %}">
    <input type="checkbox" {% if lawyers_only %}checked{% endif %} name="lawyer" id="lawyer">
    <label class="control-label" for="lawyer">Yo soy abogado</label>
  </div>
  {% recaptcha-field %}
  <button class="btn  btn-lg  btn-block  btn-success" data-loading-text="Cargando...">Registráme Ahora</button>
</form>
