<form id="signup_form" method="POST" action="/signup">
  {% csrf-field %}
  {% for field,message in messages.errors %}
  <div class="alert alert-danger">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <p>{{message}}</p>
  </div>
  {% endfor %}
  <div class="form-group">
    <label class="control-label" for="name">Nombre:</label>
    <input class="form-control" type="text" name="name" value="{{name}}" required/>
  </div>
  <div class="form-group">
    <label class="control-label" for="email">Email:</label>
    <input class="form-control" type="email" name="email" value="{{email}}" required/>
  </div>
  <div class="form-group">
    <label class="control-label" for="problem">Contraseña:</label>
    <input class="form-control" type="password" name="password" minlength="6" required>
  </div>
  <div class="form-group">
    <label class="control-label" for="problem">Confirma tu contraseña:</label>
    <input class="form-control" type="password" name="confirm-password" minlength="6" required>
  </div>
  <div class="form-group">
    <input type="checkbox" name="lawyer" id="lawyer">
    <label class="control-label" for="lawyer">Yo soy abogado</label>
  </div>
  {% recaptcha-field %}
  <button class="btn btn-lg btn-block btn-info" data-loading-text="Cargando...">Registrarme!</button>
</form>
