{% extends "layout.html" %}

{% block metadata %}
    <meta name="description" content="" />
{% endblock %}

{% block page %}

<!-- Main title -->
<div class="jumbotron  como-funciona-heading">
  <div class="green-bg">
    <div class="container-fluid">
      <h1>Cómo funciona Misabogados.com</h1>
    </div>
  </div>
</div>



<!-- Service overview -->
<div class="section  section-white  text-center  service-overview">
  <div class="container">
    <div class="section-header">
      <h2>La forma más fácil para conseguir un servicio legal recomendable</h2>
      <p>
        Nuestro servicio te consigue un abogado ajustado a tu precio, totalmente gratis. Déjanos tu caso, y nos pondremos en contacto para lograrlo por ti.
      </p>
    </div>
    <div class="row  img-description  collapse-nicely">
      <div class="col-lg-4  col-md-4  col-sm-4  col-xs-12">
        <img src="/img/como-funciona/search-copia.png"  class="img-responsive  center-block" alt="Buscador gráfico" />
        <p>
          Cuéntanos el servicio legal que estás buscando. Si es necesario, te ayudamos a aclarar tu situación.
        </p>
      </div>
      <div class="col-lg-4  col-md-4  col-sm-4  col-xs-12">
        <img src="/img/como-funciona/magnifying-glass.png"  class="img-responsive  center-block" alt="Gráfico lupa" />
        <p>
          Buscaremos en nuestra red al o los abogados que se ajusten a tu precio y necesidad legal específica.
        </p>
      </div>
      <div class="col-lg-4  col-md-4  col-sm-4  col-xs-12">
        <img src="/img/como-funciona/contract.png"  class="img-responsive  center-block" alt="Gráfico contrato" />
        <p>
          Conoce al abogado que presta el servicio legal por el precio que te acomoda, y contrátalo directamente a través nuestro.
        </p>
      </div>
    </div>
    <p><button type="button" class="btn  btn-success  btn-lg" data-toggle="modal" data-target="#contactForm">Comienza ahora <span class="glyphicon  glyphicon-menu-right"></span></button></p>
  </div>
</div>



<!-- Lawyer network -->
<div class="section  section-white">
  <div class="container">
    <div class="row  collapse-nicely">
      <div class="col-lg-6  col-md-6  col-sm-6  col-xs-12  vertically-center-cols">
        <h2>La red de Abogados</h2>
        <p>
          Trabaja con una red de abogados seleccionados por un equipo con especialista en escoger abogados. Nuestra red tiene años de formación y experiencia, y sus miembros son seleccionados por su diligencia con clientes, política de precios y recomendaciones de otros usuarios.
        </p>
        <ul class="lawyer-network-features">
          <li>
            <img src="/img/como-funciona/blue-tick.png" class="img-responsive  center-block" alt="Señal azul" />
            <h4>Abogados seleccionados</h4>
            <p>20% de entrevistados son aceptados en la red.</p>
          </li>
          <li>
            <img src="/img/como-funciona/blue-tick.png" class="img-responsive  center-block" alt="Señal azul" />
            <h4>Experiencia y formación</h4>
            <p>Abogados elegidos por la especialidad que dominan.</p>
          </li>
          <li>
            <img src="/img/como-funciona/blue-tick.png" class="img-responsive  center-block" alt="Señal azul" />
            <h4>Facilidades y transparencia en pagos</h4>
            <p>Abogados con flexibilidad de pago y precios directos.</p>
          </li>
        </ul>
      </div>
      <div class="col-lg-6  col-md-6  col-sm-6  col-xs-12  vertically-center-cols">
        <img src="/img/como-funciona/lawyer-contact-screenshot.png" class="lawyer-network-screenshot  img-responsive  center-block" alt="Captura de pantalla de MisAbogados" />
      </div>
    </div>
  </div>
</div>



<!-- Ongoing support -->
<div class="section  section-blue  ongoing-support">
  <div class="bluen-bg-dark">
    <div class="container">
      <div class="row  collapse-nicely">
        <div class="col-lg-6  col-md-6  col-sm-6  col-xs-12  vertically-center-cols">
          <h2>Soporte continuo</h2>
          <p>
            Estamos presentes durante toda tu relación con el abogado que escogiste, para el servicio legal que necesitas.
          </p>
          <p>
            Nuestra tecnología nos permite estar al tanto del avance de tus gestiones y ayudar a que todas tus comunicaciones con el abogado resulten fluidas y transparentes.
          </p>
          <p>
            Contáctanos en cualquier momento para ayudarte a resolver cualquier inconveniente que tengas.
          </p>
        </div>
        <div class="col-lg-6  col-md-6  col-sm-6  col-xs-12  vertically-center-cols">
          <img src="/img/como-funciona/smartphone.png" class="img-responsive  center-block" alt="Imagen del teléfono inteligente" />
        </div>
      </div>
    </div>
  </div>
</div>



<!-- Guarantee -->
<div class="section  section-white  guarantee-section">
  <div class="container">
    <h2>Garantía Misabogados.com</h2>
    <div class="row  collapse-nicely">
      <div class="col-lg-6  col-md-6  col-sm-6  col-xs-12  vertically-center-cols">
        <img src="/img/como-funciona/shield.png" class="img-responsive  center-block" alt="Gráfico escudo" />
      </div>
      <div class="col-lg-6  col-md-6  col-sm-6  col-xs-12  vertically-center-cols">
        <p>
          Contrata cualquier servicio legal con total tranquilidad. Nosotros respaldamos que tu trabajo se lleve a cabo totalmente.
        </p>
        <p>
          Si por cualquier motivo hubiese un problema en el desarrollo del trabajo, nosotros intermediaremos para resolverlo, invirtiendo hasta $500.000 pesos en honorarios para que el trabajo salga adelante.
        </p>
        <p>
          La garantía es aplicable exclusivamente a todo servicio legal contratado y pagado a través de Misabogados.com
        </p>
      </div>
    </div>
  </div>
</div>



<!-- Find your lawyer -->
<div class="section  section-blue  find-your-lawyer  text-center">
  <div class="bluen-bg">
    <div class="container">
      <h2>Escríbenos para encontrar tu abogado</h2>
      <p>
        Déjanos tu mensaje para conseguir un abogado ajustado a ti
      </p>
      <p><button type="button" class="btn  btn-success  btn-lg" data-toggle="modal" data-target="#contactForm">Comienza ahora <span class="glyphicon  glyphicon-menu-right"></span></button></p>
    </div>
  </div>
</div>
{% endblock %}
