    <!-- Footer -->
    <div class="footer">
      <div class="container-fluid footer-main">
        <div class="container">
          <div class="row">
            <div class="col-lg-4  col-md-4  col-sm-12  col-xs-12">
              <a href="#">
                <img src="/img/footer/logo-2.png" alt="MisAbogados Logo">
              </a>
              <p>
                MisAbogados.com conecta <b>abogados</b> con personas. Cuéntanos lo que está pasando y te ayudaremos con lo que necesites.
              </p>
              <div class="embed-responsive  embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/114693466?title=0&amp;byline=0&amp;portrait=0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>
            </div>
            <div class="col-lg-3  col-md-3  col-sm-4  col-xs-12">
              <h4>PERSONAS</h4>
              <ul>
                {% for category in categories-persons  %}
                <li><a href="/categoria/{{category.slug}}">{{category.name}}</a></li>
                {% endfor %}
              </ul>
            </div>
            <div class="col-lg-3  col-md-3  col-sm-4  col-xs-12">
              <h4>EMPRESAS</h4>
              <ul>
                {% for category in categories-enterprises  %}
                <li><a href="/categoria/{{category.slug}}">{{category.name}}</a></li>
                {% endfor %}
              </ul>

              <h4>MISABOGADOS.COM</h4>
              <ul>
                <li><a href="/blog">Blog</a></li>
                <!-- <li><a href="#">Directorio de abogados</a></li> -->
              </ul>

              <h4>ABOGADOS</h4>
              <ul>
                <li><a href="/login">Ingresar</a></li>
                <li><a href="/signup">Registrarse</a></li>
                <li><a href="/info_para_abogados">Más información</a></li>
              </ul>
            </div>
            <div class="col-lg-2  col-md-2  col-sm-4  col-xs-12">
              <h4>REDES SOCIALES</h4>
              <div class="social-icons">
                <a href="https://www.facebook.com/misabogados"><i class="fa  fa-facebook-square"></i></a>
                <a href="https://twitter.com/misabogadosCL"><i class="fa  fa-twitter-square"></i></a>
                <a href="https://plus.google.com/+Misabogados"><i class="fa  fa-google-plus-square"></i></a>
              </div>


              <h4>MÁS</h4>
              <ul>
                <li><a href="/terminos-y-condiciones">Términos y condiciones</a></li>
                <li><a href="/garantia">Garantía MisAbogados.com</a></li>
                <li><a href="/politica-de-privacidad">Política de privacidad</a></li>
              </ul>

              <img src="/img/footer/webpay_gris.png" class="webpay-img  img-responsive" alt="Puedes pagas con Webpay" />
            </div>
          </div>
        </div>
      </div>

      <!-- Contact Details -->
      <div class="container-fluid  footer-contact">
        <div class="container">
          <div class="row">
            <div class="col-lg-3  col-md-3  col-sm-6  col-xs-12">
              <small>
                <span class="glyphicon  glyphicon-copyright-mark  glyphicon-left"></span> 2016 Todos los derechos reservados
              </small>
            </div>
            <div class="col-lg-3  col-md-3  col-sm-6  col-xs-12">
              <a href="mailto:{{settings.contact_email}}"><span class="glyphicon  glyphicon-envelope  glyphicon-left"></span>{{settings.contact_email}}</a>
            </div>
            <div class="col-lg-3  col-md-3  col-sm-6  col-xs-12">
              <a href="tel:{{settings.contact_phone|remove:\"()- \"}}"><span class="glyphicon  glyphicon-earphone  glyphicon-left"></span>{{settings.contact_phone}}</a>
            </div>
            <div class="col-lg-3  col-md-3  col-sm-6  col-xs-12">
              <a href="intent://send/{{settings.whatsapp|remove:\"()- \"}}#Intent;scheme=smsto;package=com.whatsapp;action=android.intent.action.SENDTO;end"><i class="fa  fa-whatsapp  glyphicon-left"></i>{{settings.whatsapp}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
