{% extends "layout.html" %}

{% block metadata %}
    <meta name="description" content="Conectamos personas con abogados. Cuéntanos tu problema y nosotros te conectaremos con el abogado que más se ajuste a lo que necesitas: fácil y simple." />
{% endblock %}

{% block page %}

<!-- Guarentee Content -->
<div class="container  static-content">
  <div class="row">
    <div class="col-lg-12  col-md-12  col-sm-12  col-xs-12">

      <img src="/img/garantia/banner_garantia_satisfaccion.jpg" class="img-responsive  header-img" alt="Garantia satisfaccion!"/>

      <h1>MisAbogados.com garantiza que recibirás un servicio legal de calidad</h1>

      <p>Contrata a tu abogado con plena confianza. La garantía sobre la calidad de servicio legal que recibirás aplica para todas las transacciones que realices con alguno de nuestros abogados certificados y a través de nuestra plataforma. Si no estás feliz con el trabajo del abogado que contrataste, avísanos de inmediato. Nosotros nos preocupamos de solucionarlo. Para efecto de cumplir con lo anterior, MisAbogados.com abrirá una instancia de mediación con el abogado en orden a solucionar el problema. Si no hubiera una solución satisfactoria, MisAbogados.com investigará la gestión realizada por el abogado hasta ese punto. En caso de que como resultado de dicha investigación se concluyera que efectivamente hubo un problema en la gestión profesional del abogado, se abrirá la opción para el cliente de activar la garantía según se menciona en el próximo párrafo - lo anterior no aplica para garantizar los resultados de los juicios -.</p>

      <p>Siempre que se cumplan con las condiciones recién descritas, te compensaremos con hasta <b>$500.000</b>.- para que puedas contratar a otro abogado. En ningún escenario la compensación entregada por MisAbogados.com podrá superar los <b>$500.000</b> y su único objeto será subvencionar la contratación de un nuevo abogado para efecto de que el cliente pueda solucionar su problema legal. Esto quiere decir que el pago de la garantía se realizará vía créditos, los que serán imputables al valor de contratación del nuevo abogado. </p>

      <p>Cobertura continua. Todos los servicios que contrates a abogados que encontraste originalmente en MisAbogados.com, estarán siempre cubiertos por nuestra garantía. La única condición es que el pago se hubiera realizado a través de nuestra plataforma.</p>

      <p>Podrás cobrar tu garantía en cualquiera de los siguientes escenarios:</p>

      <ol>
          <li>En caso de que no recibas el servicio contratado luego de 30 días de la fecha comprometida con el abogado. Lo anterior, siempre que ya hubieras pagado por dicho servicio.</li>
          <li>Si el abogado contratado no contestara tus llamados, mails o mensajes durante 30 días. Siempre sujeto a que los servicio ya hubieran sido pagados.</li>
          <li>En caso de que el abogado presente un escrito fuera del plazo legal o, derechamente, si el abogado no presenta el escrito pertinente.</li>
          <li>En general. Esta garantía es aplicable ante cualquier violación al <a href="https://misabogados.com/blog/wp-content/uploads/2016/01/Co%CC%81digo-de-E%CC%81tica-Colegio-de-Abogados-Chile.pdf">código de ética del Colegio de Abogados de Chile</a>.</li>
      </ol>

      <p><strong>Cualquier servicio contratado que sea pagado por fuera de nuestra plataforma queda automáticamente fuera de la cobertura de esta garantía.</strong></p>

      <p>Juan José Rentería Spoerer<br /><small>Co-Fundador MisAbogados.com</small></p>

      <div class="panel panel-default guarantee-cta">
        <div class="panel-heading  text-center">
          <h4 class="panel-title">¡Tu Satisfacción es Nuestra Priordad!</h4>
          <div class="center-block">
            <button type="button" class="btn  btn-lg  btn-success" data-toggle="modal" data-target="#contactForm">Contratar un abogado</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

{% endblock %}
