{% extends "layout.html" %}

{% block metadata %}
    <meta name="description" content="Conectamos personas con abogados. Cuéntanos tu problema y nosotros te conectaremos con el abogado que más se ajuste a lo que necesitas: fácil y simple." />
{% endblock %}

{% block page %}
{% include "notifications.html" %}
<!-- Main CTA -->
<div class="jumbotron  cta  cta-main">
  <div class="dark-bg">
    <div class="container-fluid">
      <h1>La forma inteligente de contratar abogados</h1>
      <p>{% ifequal settings.country "co" %}Te conectamos con{% else %}Recomendamos{% endifequal %} abogados confiables, en tu rango de precios y con facilidades de pago.</p>
      <p><button type="button" class="btn  btn-success  btn-lg" data-toggle="modal" data-target="#contactForm">Comienza ahora <span class="glyphicon  glyphicon-menu-right"></span></button></p>
    </div>

    <!-- Featured in -->
    <div class="container">
      {% ifequal settings.country "cl" %}{% include "_press_block_cl.html" %}{% endifequal %}
      {% ifequal settings.country "co" %}{% include "_press_block_co.html" %}{% endifequal %}
      {% ifequal settings.country "mx" %}{% include "_press_block_mx.html" %}{% endifequal %}
    </div>
  </div>
</div>

<!-- Categories Section -->
<div class="section  section-white  categories-section">
  <div class="container">

    <div class="row">
      <div class="col-lg-6  col-md-6  col-sm-12  col-xs-12">
        <a id="areas-legales" class="home-page-anchor"></a>
        <h2>Áreas Legales</h2>
      </div>

      <div class="col-lg-6  col-md-6  col-sm-12  col-xs-12">
        <!-- Categories Filter -->
        <div class="input-group">
          <label class="sr-only" for="categories-filter">Filtro áreas legales</label>
          <input type="text" class="form-control" data-provide="typeahead" id="categories-filter" placeholder="Buscar...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Buscar</button>
          </span>
        </div>
      </div>
    </div>

    <!-- Categories -->
    {% ifequal settings.country "cl" %}{% include "_categories_block_cl.html" %}{% endifequal %}
    {% ifequal settings.country "co" %}{% include "_categories_block_co.html" %}{% endifequal %}
    {% ifequal settings.country "mx" %}{% include "_categories_block_mx.html" %}{% endifequal %}  
      
  </div>
</div>


<!-- Lawyers Section -->
<div class="section  section-blue  lawyers-section">
  <div class="container">
    <div class="row">

      <!-- Blurb -->
      <div class="col-lg-6  col-md-6  col-sm-6  col-xs-12">
        <a id="abogados" class="home-page-anchor"></a>
        <h2>Nuestra Red De Abogados Seleccionados</h2>
        <p>Profesionales calificados y validados por nuestros clientes.</p>
        <ul>
          <li>Promedio de 10 años de experiencia.</li>
          <li>Abogados certificados y garantizados.</li>
          <li>Especialistas en todas las áreas legales.</li>
        </ul>
        <!--<button type="button" class="btn  btn-default  btn-lg  btn-no-fill">Ver más <span class="glyphicon  glyphicon-menu-right"></span></button>-->
      </div>

      {% ifequal settings.country "cl" %}{% include "_lawyers_block_cl.html" %}{% endifequal %}
      {% ifequal settings.country "co" %}{% include "_lawyers_block_co.html" %}{% endifequal %}
      {% ifequal settings.country "mx" %}{% include "_lawyers_block_mx.html" %}{% endifequal %}

    </div>
  </div>
</div>


<!-- Testimonies Section -->
<div class="section  section-white  testimonies-section">
  <div class="container">
    <a id="clientes-dicen" class="home-page-anchor"></a>
    <h2>Los Clientes Dicen...</h2>
    <div class="row">

      <!-- Testimonies -->
      <div class="col-lg-6  col-md-6  col-sm-12  col-xs-12">
        <ul class="testimonies-list">
          <li>
            <div class="row">
              <div class="col-lg-4  col-md-4  col-sm-4  col-xs-4">
                <a href="https://www.facebook.com/misabogados/posts/493854864100863" target="_blank">
                  <img src="/img/testimonies/carlos.png" class="img-responsive" alt="Carlos Veloso" />
                </a>
              </div>
              <div class="col-lg-8  col-md-8  col-sm-8  col-xs-8">
                <h4>CARLOS VELOSO</h4>
                <blockquote>
                  "Excelente atención, respondieron rápido y me mantuvieron al tanto del estado de mi caso durante el transcurso de este, felicidades por su gran atención"
                </blockquote>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="col-lg-4  col-md-4  col-sm-4  col-xs-4">
                <a href="https://www.facebook.com/misabogados/posts/420006541485696?comment_id=422350984584585&reply_comment_id=422561744563509&total_comments=6&comment_tracking=%7B%22tn%22%3A%22R%22%7D" target="_blank">
                  <img src="/img/testimonies/raisa.png" class="img-responsive" alt="Raisa Luna Guzmán" />
                </a>
              </div>
              <div class="col-lg-8  col-md-8  col-sm-8  col-xs-8">
                <h4>RAISA LUNA GUZMÁN</h4>
                <blockquote>
                  "Muchísimas gracias por sus respuestas. Un abrazo! y exito! Son un excelnte aporte!"
                </blockquote>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="col-lg-4  col-md-4  col-sm-4  col-xs-4">
                <a href="https://www.facebook.com/misabogados/posts/460373427449007" target="_blank">
                  <img src="/img/testimonies/veronica.png" class="img-responsive" alt="Veronica Lucia" />
                </a>
              </div>
              <div class="col-lg-8  col-md-8  col-sm-8  col-xs-8">
                <h4>VERONICA LUCIA</h4>
                <blockquote>
                  "Los felicito amigos gracias por cada palabra. Abrazo y sigan asi con valores abrazoooooooo"
                </blockquote>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <!-- Video -->
      <div class="col-lg-6  col-md-6  col-sm-12  col-xs-12">
        <a href="#" data-toggle="modal" data-target="#video-modal">
          <img src="/img/testimonies/mac.png" class="img-responsive  testimony-video" alt="Video de Testimonios" />
        </a>

        <!-- Modal -->
        <div id="video-modal" class="modal fade" role="dialog">
          <div class="modal-dialog  modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Testimonios MisAbogados.com</h4>
              </div>
              <div class="modal-body">
                <div class="embed-responsive  embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/114693464?title=0&amp;byline=0&amp;portrait=0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<!-- Garantia Section -->
<div class="section  section-blue  garantia-section">
  <div class="container">
    <div class="row">

      <!-- Image -->
      <div class="col-lg-6  col-md-6  col-sm-6  col-xs-12">
        <img src="/img/garantia/garantia.png" class="img-responsive" alt="Garantia" />
      </div>

      <!-- Blurb -->
      <div class="col-lg-6  col-md-6  col-sm-6  col-xs-12">
        <h2>Te Acompañamos En Todo El Proceso</h2>
        <ul>
          <li>Tus pagos quedan asegurados.</li>
          <li>Garantizamos el trabajo abogados.</li>
          <li>Contrata seguro, nosotros te respaldamos.</li>
        </ul>
        <!--<button type="button" class="btn  btn-default  btn-lg  btn-no-fill">Ver más <span class="glyphicon  glyphicon-menu-right"></span></button>-->
      </div>

    </div>
  </div>
</div>


<!-- Repeated CTA -->
<div class="jumbotron  cta  cta-second">
  <div class="container-fluid">
    <h2>LA FORMA INTELIGENTE DE CONTRATAR ABOGADOS</h2>
    <p><button type="button" class="btn  btn-success  btn-lg" data-toggle="modal" data-target="#contactForm">Comienza ahora <span class="glyphicon  glyphicon-menu-right"></span></button></p>
  </div>

  <!-- Supported by -->
  {% ifequal settings.country "cl" %}{% include "_supported_by_cl.html" %}{% endifequal %}
  {% ifequal settings.country "co" %}{% include "_supported_by_co.html" %}{% endifequal %}
  {% ifequal settings.country "mx" %}{% include "_supported_by_mx.html" %}{% endifequal %}



<!-- Radio Agricultura Interview Player -->
<div class="modal fade radioAgriculturaPlayer" tabindex="-1" role="dialog" aria-labelledby="radioAgriculturaPlayer">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2>RADIO AGRICULTURA</h2>
        <p class="lead">Escucha la entrevista de MisAbogados.com</p>
        <audio class="player_audio" controls=""><source src="/audio/radio_agricultura.mp3" type="audio/mpeg">Tu navegado no soporta la reproducción de audio</audio>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block page-scripts %}

{% script "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.1/bootstrap3-typeahead.min.js" %}

{% script "js/categories.js" %}

{% endblock %}
