{% extends "base.html" %}

{% block content %}

{% include "navbar.html" %}

<!-- Main CTA -->
<div class="jumbotron  cta  cta-main">
  <div class="darken-bg">
    <div class="container">
      <h1>LA FORMA INTELIGENTE DE CONTRATAR ABOGADOS</h1>
      <p>Recomendamos  abogados confiables, en tu rango de precios y con facilidades de pago.</p>
      <p><button type="button" class="btn  btn-success  btn-lg" data-toggle="modal" data-target="#contactForm">Comienza ahora <span class="glyphicon  glyphicon-menu-right"></span></button></p>

      <!-- Featured in -->
      <h5>Destacados en:</h5>
      <div class="row">
        <div class="col-lg-  col-md-2  col-sm-4  col-xs-4">
          <a href="#" class="thumbnail">
            <img src="/img/featured-in/pulso_social-ea6cbdba40506fd8b6e24e46879a288b.png" class="img-responsive" alt="MisAbogados.com en Pulso Social">
          </a>
        </div>
        <div class="col-lg-2  col-md-2  col-sm-4  col-xs-4">
          <a href="#" class="thumbnail">
            <img src="/img/featured-in/mercurio_legal-d400931839b7dbd2a77ad63b8ac5b47e.png" class="img-responsive" alt="MisAbogados.com en El Mercurio Legal">
          </a>
        </div>
        <div class="col-lg-2  col-md-2  col-sm-4  col-xs-4">
          <a href="#" class="thumbnail">
            <img src="/img/featured-in/emol-56d6cd0c24c676fe7dc15163972b9290.png" class="img-responsive" alt="MisAbogados.com en Emol">
          </a>
        </div>
        <div class="col-lg-2  col-md-2  col-sm-4  col-xs-4">
          <a href="#" class="thumbnail">
            <img src="/img/featured-in/el_definido-34e7e6ac96fa2aebb02ce8a242ca1e54.png" class="img-responsive" alt="MisAbogados.com en El Definido">
          </a>
        </div>
        <div class="col-lg-2  col-md-2  col-sm-4  col-xs-4">
          <a href="#" class="thumbnail">
            <img src="/img/featured-in/agricultura-ddb8d740f98a5916d82d3c955b3a60f0.png" class="img-responsive" alt="MisAbogados.com en Radio Agricultura">
          </a>
        </div>
        <div class="col-lg-2  col-md-2  col-sm-4  col-xs-4">
          <a href="#" class="thumbnail">
            <img src="/img/featured-in/capital_online-e3a8a0f8f8740a4675a840f300769965.png" class="img-responsive" alt="MisAbogados.com en Capital Online">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Categories Section -->
<div class="jumbotron  categories-section">
  <div class="container">

    <div class="row">
      <div class="col-lg-6  col-md-6  col-sm-12  col-xs-12">
        <h1>Áreas Legales</h1>
      </div>

      <div class="col-lg-6  col-md-6  col-sm-12  col-xs-12">
        <!-- Categories Filter -->
        <div class="input-group">
          <label class="sr-only" for="categories-filter">Filtro áreas legales</label>
          <input type="text" class="form-control" placeholder="Buscar...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Buscar</button>
          </span>
        </div>
      </div>
    </div>

    <!-- Categories -->
    <div class="row  categories-list">
      <div class="col-lg-2  col-md-2  col-sm-3  col-xs-6">
        <a href="#">
          <div class="thumbnail ">
            <img src="/img/categories/registro_de_marca.svg" alt="Registro de marca">
            <div class="caption">
              <h5>Registro de marca</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-2  col-md-2  col-sm-3  col-xs-6">
        <a href="#">
          <div class="thumbnail">
            <img src="/img/categories/divorcio.svg" alt="Divorcio">
            <div class="caption">
              <h5>Divorcio</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-2  col-md-2  col-sm-3  col-xs-6">
        <a href="#">
          <div class="thumbnail">
            <img src="/img/categories/cobranza.svg" alt="Cobranza">
            <div class="caption">
              <h5>Cobranza</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-2  col-md-2  col-sm-3  col-xs-6">
        <a href="#">
          <div class="thumbnail">
            <img src="/img/categories/redaccion_de_contratos.svg" alt="Redaccion de contratos">
            <div class="caption">
              <h5>Redaccion de contratos</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-2  col-md-2  col-sm-3  col-xs-6">
        <a href="#">
          <div class="thumbnail">
            <img src="/img/categories/derechos_del_consumidor.svg" alt="Derechos del consumidor">
            <div class="caption">
              <h5>Derechos del consumidor</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-2  col-md-2  col-sm-3  col-xs-6">
        <a href="#">
          <div class="thumbnail">
            <img src="/img/categories/extranjeria.svg" alt="Extranjeria">
            <div class="caption">
              <h5>Extranjeria</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-2  col-md-2  col-sm-3  col-xs-6">
        <a href="#">
          <div class="thumbnail">
            <img src="/img/categories/delitos.svg" alt="Delitos">
            <div class="caption">
              <h5>Delitos</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-2  col-md-2  col-sm-3  col-xs-6">
        <a href="#">
          <div class="thumbnail">
            <img src="/img/categories/subdivision_de_terrenos.svg" alt="Subdivision de terrenos">
            <div class="caption">
              <h5>Subdivision de terrenos</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-2  col-md-2  col-sm-3  col-xs-6">
        <a href="#">
          <div class="thumbnail">
            <img src="/img/categories/modificacion_de_sociedades.svg" alt="Modificacion de sociedades">
            <div class="caption">
              <h5>Modificacion de sociedades</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-2  col-md-2  col-sm-3  col-xs-6">
        <a href="#">
          <div class="thumbnail">
            <img src="/img/categories/derecho_laboral.svg" alt="Derecho laboral">
            <div class="caption">
              <h5>Derecho laboral</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-2  col-md-2  col-sm-3  col-xs-6">
        <a href="#">
          <div class="thumbnail">
            <img src="/img/categories/juicio_de_arrendamiento.svg" alt="Juicio de arrendamiento">
            <div class="caption">
              <h5>Juicio de arrendamiento</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-2  col-md-2  col-sm-3  col-xs-6">
        <a href="#">
          <div class="thumbnail">
            <img src="/img/categories/derecho_de_visitas.svg" alt="Derecho de visitas">
            <div class="caption">
              <h5>Derecho de visitas</h5>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>


<!-- Lawyers Section -->
<div class="jumbotron  lawyers-section">
  <div class="container">
    <div class="row">

      <!-- Blurb -->
      <div class="col-lg-6  col-md-6  col-sm-12  col-xs-12">
        <h1>Nuestra Red De Abogados Seleccionados</h1>
        <p>Profesionales calificados y validados por nuestros clientes.</p>
        <ul>
          <li>Promedio de 10 años de experiencia.</li>
          <li>Abogados certificados y garantizados.</li>
          <li>Especialistas en todas las áreas legales.</li>
        </ul>
        <button type="button" class="btn btn-default btn-lg">Ver más <span class="glyphicon  glyphicon-menu-right"></span></button>
      </div>

      <!-- Featured Lawyers -->
      <div class="col-lg-6  col-md-6  col-sm-12  col-xs-12">
        <ul class="lawyer-list">
          <li>
            <div class="row">
              <div class="col-lg-4  col-md-4  col-sm-4  col-xs-4">
                <img src="/img/lawyers/alfonso_del_fierro.png" class="lawyer-pic  img-responsive" alt="Alfonso Del Fierro" />
              </div>
              <div class="col-lg-8  col-md-8  col-sm-8  col-xs-8">
                <h4>ALFONSO DEL FIERRO</h4>
                <img src="/img/lawyers/certificado.png" class="icon-certificate" alt="" /> Abogado Certificado
                <br>Especialista Familia<br>PUCV<br>
                <img src="/img/lawyers/estrella.png" width="25px"/><img src="/img/lawyers/estrella.png" class="icon-star"/><img src="/img/lawyers/estrella.png" class="icon-star"/><img src="/img/lawyers/estrella.png" class="icon-star"/><img src="/img/lawyers/estrella.png" class="icon-star"/>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="col-lg-4  col-md-4  col-sm-4  col-xs-4">
                <img src="/img/lawyers/loreto_retamal.png" class="lawyer-pic  img-responsive" alt="Loreto Retamel" />
              </div>
              <div class="col-lg-8  col-md-8  col-sm-8  col-xs-8">
                <h4>LORETO RETAME</h4>
                <img src="/img/lawyers/certificado.png" class="icon-certificate" alt="" /> Abogado Certificado
                <br>Especialista Civil<br>Universidad Católica del Norte<br>
                <img src="/img/lawyers/estrella.png" width="25px"/><img src="/img/lawyers/estrella.png" class="icon-star"/><img src="/img/lawyers/estrella.png" class="icon-star"/><img src="/img/lawyers/estrella.png" class="icon-star"/><img src="/img/lawyers/estrella.png" class="icon-star"/>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="col-lg-4  col-md-4  col-sm-4  col-xs-4">
                <img src="/img/lawyers/marcelo_calderon.png" class="lawyer-pic  img-responsive" alt="Marcelo Calderon" />
              </div>
              <div class="col-lg-8  col-md-8  col-sm-8  col-xs-8">
                <h4>MARCELO CALDERON</h4>
                <img src="/img/lawyers/certificado.png" class="icon-certificate" alt="" /> Abogado Certificado
                <br>Especialista Civil<br>Universidad del Desarrollo<br>
                <img src="/img/lawyers/estrella.png" width="25px"/><img src="/img/lawyers/estrella.png" class="icon-star"/><img src="/img/lawyers/estrella.png" class="icon-star"/><img src="/img/lawyers/estrella.png" class="icon-star"/><img src="/img/lawyers/estrella.png" class="icon-star"/>
              </div>
            </div>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>


<!-- Testimonies Section -->
<div class="jumbotron  testimonies-section">
  <div class="container">
    <div class="row">

      <!-- Testimonies -->
      <div class="col-lg-6  col-md-6  col-sm-12  col-xs-12">
        <h1>Los Clientes Dicen...</h1>
        <ul class="testimonies-list">
          <li>
            <div class="row">
              <div class="col-lg-4  col-md-4  col-sm-4  col-xs-4">
                <a href="https://www.facebook.com/misabogados/posts/493854864100863" target="_blank">
                  <img src="/img/testimonies/carlos.png" class="img-responsive" alt="Carlos Veloso" />
                </a>
              </div>
              <div class="col-lg-8  col-md-8  col-sm-8  col-xs-8">
                <h4>CARLOS VELOSO</h4>
                <blockquote>
                  "Excelente atención, respondieron rápido y me mantuvieron al tanto del estado de mi caso durante el transcurso de este, felicidades por su gran atención"
                </blockquote>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="col-lg-4  col-md-4  col-sm-4  col-xs-4">
                <a href="https://www.facebook.com/misabogados/posts/420006541485696?comment_id=422350984584585&reply_comment_id=422561744563509&total_comments=6&comment_tracking=%7B%22tn%22%3A%22R%22%7D" target="_blank">
                  <img src="/img/testimonies/raisa.png" class="img-responsive" alt="Raisa Luna Guzmán" />
                </a>
              </div>
              <div class="col-lg-8  col-md-8  col-sm-8  col-xs-8">
                <h4>RAISA LUNA GUZMÁN</h4>
                <blockquote>
                  "Muchísimas gracias por sus respuestas. Un abrazo! y exito! Son un excelnte aporte!"
                </blockquote>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="col-lg-4  col-md-4  col-sm-4  col-xs-4">
                <a href="https://www.facebook.com/misabogados/posts/460373427449007" target="_blank">
                  <img src="/img/testimonies/veronica.png" class="img-responsive" alt="Veronica Lucia" />
                </a>
              </div>
              <div class="col-lg-8  col-md-8  col-sm-8  col-xs-8">
                <h4>VERONICA LUCIA</h4>
                <blockquote>
                  "Los felicito amigos gracias por cada palabra. Abrazo y sigan asi con valores abrazoooooooo"
                </blockquote>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <!-- Video -->
      <div class="col-lg-6  col-md-6  col-sm-12  col-xs-12">
        <a href="#" data-toggle="modal" data-target="#video-modal">
          <img src="/img/testimonies/mac.png" class="img-responsive" alt="Video de Testimonios" />
        </a>

        <!-- Modal -->
        <div id="video-modal" class="modal fade" role="dialog">
          <div class="modal-dialog  modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Testimonios MisAbogados.com</h4>
              </div>
              <div class="modal-body">
                <div class="embed-responsive  embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/114693464?title=0&amp;byline=0&amp;portrait=0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<!-- Garantia Section -->
<div class="jumbotron  garantia-section">
  <div class="container">
    <div class="row">

      <!-- Image -->
      <div class="col-lg-6  col-md-6  col-sm-6  col-xs-12">
        <img src="/img/garantia/garantia.png" class="img-responsive" alt="Garantia" />
      </div>

      <!-- Blurb -->
      <div class="col-lg-6  col-md-6  col-sm-6  col-xs-12">
        <h1>Te Acompañamos En Todo El Proceso</h1>
        <ul>
          <li>Tus pagos quedan asegurados.</li>
          <li>Garantizamos el trabajo abogados.</li>
          <li>Contrata seguro, nosotros te respaldamos.</li>
        </ul>
        <button type="button" class="btn  btn-default  btn-lg">Ver más <span class="glyphicon  glyphicon-menu-right"></span></button>
      </div>

    </div>
  </div>
</div>


<!-- Repeated CTA -->
<div class="jumbotron  cta  cta-second">
  <div class="container">
    <h1>LA FORMA INTELIGENTE DE CONTRATAR ABOGADOS</h1>
    <p><button type="button" class="btn  btn-success  btn-lg" data-toggle="modal" data-target="#contactForm">Comienza ahora <span class="glyphicon  glyphicon-menu-right"></span></button></p>

    <!-- Supported by -->
    <h5>Apoyado por:</h5>
    <div class="row">
      <div class="col-lg-5ths  col-md-5ths  col-sm-4  col-xs-4">
        <a href="#" class="thumbnail">
          <img src="/img/supporters/corfo.png" class="img-responsive" alt="MisAbogados.com es apoyado por CORFO">
        </a>
      </div>
      <div class="col-lg-5ths  col-md-5ths  col-sm-4  col-xs-4">
        <a href="#" class="thumbnail">
          <img src="/img/supporters/chrysalis.png" class="img-responsive" alt="MisAbogados.com es apoyado por Chrysalis">
        </a>
      </div>
      <div class="col-lg-5ths  col-md-5ths  col-sm-4  col-xs-4">
        <a href="#" class="thumbnail">
          <img src="/img/supporters/nazca.png" class="img-responsive" alt="MisAbogados.com es apoyado por Nazca Ventures">
        </a>
      </div>
      <div class="col-lg-5ths  col-md-5ths  col-sm-6  col-xs-6">
        <a href="#" class="thumbnail">
          <img src="/img/supporters/supchile.png" class="img-responsive" alt="MisAbogados.com es apoyado por Start-Up Chile">
        </a>
      </div>
      <div class="col-lg-5ths  col-md-5ths  col-sm-6  col-xs-6">
        <a href="#" class="thumbnail">
          <img src="/img/supporters/start_mexico.png" class="img-responsive" alt="MisAbogados.com es apoyado por Start-Up Mexico">
        </a>
      </div>
    </div>
  </div>
</div>

{% include "footer.html" %}

{% endblock %}
