{% extends "layout.html" %}

{% block metadata %}
    <meta name="description" content="" />
{% endblock %}

{% block page %}

<!-- Main Lawyers Landing Page CTA -->
<div class="jumbotron  cta  cta-main-lawyers">
  <div class="darken-bg">
    <div class="container-fluid">
      <h1>Haz crecer tu negocio</h1>
      <p>Únete al marketplace de abogados más importante de Latinoamérica</p>
      <p><button type="button" class="btn  btn-success  btn-lg" data-toggle="modal" data-target="#lawyerContactForm">Regístrate aquí</button></p>
    </div>
  </div>
</div>



<!-- Reach New Clients -->
<div class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-12  col-md-12  col-sm-12  col-xs-12">
        <h2>Accede a nuevos clientes</h2>
        <p>
          Clientes de todo latinoamérica usan Misabogados.com para contratar abogados especialistas que se ajusten a sus necesidades
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4  col-md-4  col-sm-4  col-xs-12">
        <img src="/img/lawyers-landing-page/handshake.png"  class="img-responsive  center-block" alt="Gráfico apretón de manos" />
        <h3>Conoce nuevos clientes</h3>
        <p>
          Te conectamos con nuevos clientes todos los meses. Nosotros nos encargamos de conseguirlos mientras tú haces lo que más te gusta.
        </p>
      </div>
      <div class="col-lg-4  col-md-4  col-sm-4  col-xs-12">
        <img src="/img/lawyers-landing-page/search.png"  class="img-responsive  center-block" alt="Gráfico lupa" />
        <h3>Mejor presencia online</h3>
        <p>
          Te ayudamos a mejorar tu presencia online. Haz que más clientes te encuentren cuando busquen abogados confiables.
        </p>
      </div>
      <div class="col-lg-4  col-md-4  col-sm-4  col-xs-12">
        <img src="/img/lawyers-landing-page/payment.png"  class="img-responsive  center-block" alt="Gráfico de la tarjeta de crédito" />
        <h3>Métodos de pago</h3>
        <p>
          Cobra tus honorarios y haz seguimiento a tus pagos, todo online. Integramos la plataforma de Webpay por ti sin costo adicional.
        </p>
      </div>
    </div>
  </div>
</div>



<!-- Grow Your Business With Technology -->
<div class="section-padding">
  <div class="container">
    <h2>Usamos tecnología para hacer crecer tu negocio</h2>
    <div class="row">
      <div class="col-lg-6  col-md-6  col-sm-6  col-xs-12">
        IMG HERE
      </div>
      <div class="col-lg-6  col-md-6  col-sm-6  col-xs-12">
        <p>
          Nuestro sistema utiliza tecnología para que tu práctica como abogado pueda crecer constantemente.
        </p>
        <p>
          Nuestro sistema te permite conectarte rápidamente con nuevos clientes y cobrar online.
        </p>
      </div>
    </div>
  </div>
</div>



<!-- Hundreds of Lawers Use MisAbogados -->
<div class="section-padding  social-proof">
  <div class="container">
    <div class="row">
      <div class="col-lg-6  col-md-6  col-sm-6  col-xs-12">
        <h3>Cientos de abogados utilizan Misabogados.com para ser más efectivos</h3>
        <p>
          Un abogado de Misabogados.com puede despreocuparse de hacer marketing y cobranzas, para dedicarse a lo que más gusta de practicar derecho en Latinoamérica.
        </p>
      </div>
    </div>
  </div>
</div>



<!-- Client Break-down -->
<div class="section-padding  client-break-down">
  <div class="bluen-bg">
    <div class="container">
      <h2>¿Qué clientes usan Misabogados.com?</h2>
      <div class="row">
        <div class="col-lg-4  col-md-4  col-sm-4  col-xs-12">
          <img src="/img/lawyers-landing-page/persona.png"  class="img-responsive  center-block" alt="Gráfico persona" />
          <h3>Personas</h3>
          <p>
            Personas que necesitas abogados para encontrar soluciones en temas civiles, de familia, contratos consultas y asesorías generales.
          </p>
        </div>
        <div class="col-lg-4  col-md-4  col-sm-4  col-xs-12">
          <img src="/img/lawyers-landing-page/startup.png"  class="img-responsive  center-block" alt="Gráfico startup" />
          <h3>Startups</h3>
          <p>
            Empresas en etapa temprana utilizan Misabogados.com para constituirse, crear los primeros contratos laborales o con proveedores. También buscan asesoría en propiedad intelectual, migración y consultas generales
          </p>
        </div>
        <div class="col-lg-4  col-md-4  col-sm-4  col-xs-12">
          <img src="/img/lawyers-landing-page/empresa.png"  class="img-responsive  center-block" alt="Gráfico empresa" />
          <h3>Empresas</h3>
          <p>
            Empresas de todos los sectores utilizan Misabogados.com como su General Counsel, buscando hacer más eficientes sus gastos legales. Solicitan cotizaciones de abogados especialistas en distintas materias
          </p>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- Register Now -->
<div class="section-padding">
  <div class="container-fluid">
    <h1>Regístrate en Misabogados.com</h1>
    <button type="button" class="btn  btn-success  btn-lg" data-toggle="modal" data-target="#lawyerContactForm">Regístrate aquí</button>
  </div>
</div>
{% endblock %}
