{% extends "layout.html" %}

{% block metadata %}
    <meta name="description" content="" />
{% endblock %}

{% block page %}

<!-- Main Lawyers Landing Page CTA -->
<div class="jumbotron  cta  cta-main-lawyers">
  <div class="dark-bg">
    <div class="container-fluid">
      <h1>Haz crecer tu negocio</h1>
      <p>Únete al marketplace de abogados más importante de Latinoamérica</p>
      <p><button type="button" class="btn  btn-success  btn-lg" data-toggle="modal" data-target="#lawyerRegistrationForm">Regístrate aquí</button></p>
    </div>
  </div>
</div>



<!-- Access New Clients -->
<div class="section  section-white  text-center">
  <div class="container">
    <div class="access-new-clients">
      <h2>Accede a nuevos clientes</h2>
      <p>
        Clientes de todo latinoamérica usan Misabogados.com para contratar abogados especialistas que se ajusten a sus necesidades
      </p>
    </div>
    <div class="row  img-description">
      <div class="col-lg-4  col-md-4  col-sm-4  col-xs-12">
        <img src="/img/lawyers-landing-page/handshake.png"  class="img-responsive  center-block" alt="Gráfico apretón de manos" />
        <h3>Conoce nuevos clientes</h3>
        <p>
          Te conectamos con nuevos clientes todos los meses. Nosotros nos encargamos de conseguirlos mientras tú haces lo que más te gusta.
        </p>
      </div>
      <div class="col-lg-4  col-md-4  col-sm-4  col-xs-12">
        <img src="/img/lawyers-landing-page/search.png"  class="img-responsive  center-block" alt="Gráfico lupa" />
        <h3>Mejor presencia online</h3>
        <p>
          Te ayudamos a mejorar tu presencia online. Haz que más clientes te encuentren cuando busquen abogados confiables.
        </p>
      </div>
      <div class="col-lg-4  col-md-4  col-sm-4  col-xs-12">
        <img src="/img/lawyers-landing-page/payment.png"  class="img-responsive  center-block" alt="Gráfico de la tarjeta de crédito" />
        <h3>Métodos de pago</h3>
        <p>
          Cobra tus honorarios y haz seguimiento a tus pagos, todo online. Integramos la plataforma de Webpay por ti sin costo adicional.
        </p>
      </div>
    </div>
  </div>
</div>



<!-- Grow Your Business With Technology -->
<div class="section  section-blue  text-center  grow-with-technology">
  <div class="container">
    <h2>Usamos tecnología para hacer crecer tu negocio</h2>
    <div class="row">
      <div class="col-lg-6  col-md-6  col-sm-6  col-xs-12">
        <img src="/img/lawyers-landing-page/macbook-pro-con-pantalla.png" class="img-responsive  center-block" alt="Laptop con captura de pantalla de MisAbogados" />
      </div>
      <div class="col-lg-6  col-md-6  col-sm-6  col-xs-12">
        <p class="lead">
          Nuestro sistema utiliza tecnología para que tu práctica como abogado pueda crecer constantemente.
        </p>
        <p class="lead">
          Nuestro sistema te permite conectarte rápidamente con nuevos clientes y cobrar online.
        </p>
      </div>
    </div>
  </div>
</div>



<!-- Hundreds of Lawers Use MisAbogados -->
<div class="section  section-blue  text-center  social-proof">
  <div class="darken-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-6  col-md-6  col-sm-6  col-xs-12"></div>
        <div class="col-lg-6  col-md-6  col-sm-6  col-xs-12">
          <h2>Cientos de abogados utilizan Misabogados.com para ser más efectivos</h2>
          <p>
            Un abogado de Misabogados.com puede despreocuparse de hacer marketing y cobranzas, para dedicarse a lo que más gusta de practicar derecho en Latinoamérica.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- Client Break-down -->
<div class="section  section-blue  text-center  client-break-down">
  <div class="bluen-bg">
    <div class="container">
      <h2>¿Qué clientes usan Misabogados.com?</h2>
      <div class="row">
        <div class="col-lg-4  col-md-4  col-sm-4  col-xs-12">
          <img src="/img/lawyers-landing-page/persona.png"  class="img-responsive  center-block" alt="Gráfico persona" />
          <h3>Personas</h3>
          <p>
            Personas que necesitas abogados para encontrar soluciones en temas civiles, de familia, contratos consultas y asesorías generales.
          </p>
        </div>
        <div class="col-lg-4  col-md-4  col-sm-4  col-xs-12">
          <img src="/img/lawyers-landing-page/startup.png"  class="img-responsive  center-block" alt="Gráfico startup" />
          <h3>Startups</h3>
          <p>
            Empresas en etapa temprana utilizan Misabogados.com para constituirse, crear los primeros contratos laborales o con proveedores. También buscan asesoría en propiedad intelectual, migración y consultas generales
          </p>
        </div>
        <div class="col-lg-4  col-md-4  col-sm-4  col-xs-12">
          <img src="/img/lawyers-landing-page/empresa.png"  class="img-responsive  center-block" alt="Gráfico empresa" />
          <h3>Empresas</h3>
          <p>
            Empresas de todos los sectores utilizan Misabogados.com como su General Counsel, buscando hacer más eficientes sus gastos legales. Solicitan cotizaciones de abogados especialistas en distintas materias
          </p>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- Register Now -->
<div class="section  section-white  text-center  register-now">
  <div class="container-fluid">
    <h1>Regístrate en Misabogados.com</h1>
    <button type="button" class="btn  btn-success  btn-lg" data-toggle="modal" data-target="#lawyerRegistrationForm">Regístrate aquí</button>
  </div>
</div>



<!-- Lawyer Registration Form -->
<div id="lawyerRegistrationForm" class="modal  fade  contact-form" tabindex="-1" role="dialog" aria-labelledby="lawyerRegistrationForm">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Se parte de nuestra red</h4>
        <!-- <h5>Optional blurb goes here</h5> -->
        <form id="lawyer_registration_form" method="POST" action="">
          <div class="form-group">
            <label class="control-label" for="lawyer_name">Nombre:</label>
            <input class="form-control" type="text" name="lawyer_name" placeholder="Nombre" required value="{{lawyer_name}}"/>
          </div>
          <div class="form-group">
            <label class="control-label" for="lawyer_email">Email:</label>
            <input class="form-control" type="email" name="lawyer_email" placeholder="Email" required value="{{lawyer_email}}"/>
          </div>
          <div class="form-group">
            <label class="control-label" for="lawyer-password">Contraseña:</label>
            <input class="form-control" type="password" name="lawyer-password" placeholder="Contraseña">
          </div>
          <div class="form-group">
            <label class="control-label" for="lawyer-password-confirm">Confirmar Contraseña:</label>
            <input class="form-control" type="password" name="lawyer-password-confirm" placeholder="Confirmar Contraseña">
          </div>
          <button class="btn  btn-lg  btn-block  btn-success" data-loading-text="Cargando...">Registráme Ahora</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
