{% extends "layout.html" %}

{% block metadata %}
    <meta name="description" content="" />
{% endblock %}

{% block page %}

<!-- Lawyers' Profile Page -->
<div class="container-fluid  section-padding  lawyer-profile-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-3  col-md-3  col-sm-4  col-xs-4">
        <div class="profile-img">
          <img src="{{lawyer.profile_picture}}" class="img-responsive  center-block" alt="Alfredo Alcaíno" />
        </div>
      </div>
      <div class="col-lg-5  col-md-5  col-sm-8  col-xs-8">
        <h1>{{lawyer.name}}</h1>
        {% if lawyer.certified %}
       <p>
         <img src="/img/lawyer-profile/certificado.png" class="icon-certificate" alt="" /><span class="qualifier"> Abogado Certificado</span>
       </p>
       {% endif %}
      </div>
      <div class="col-lg-4  col-md-4  col-sm-12  col-xs-12">
        <blockquote>
          <h3>"...Excelente abogado, está simpre atento a tus dudas..."</h3>
        </blockquote>
      </div>
    </div>
  </div>
</div>



<!-- Profile Details -->
<div class="container  section-padding  lawyer-profile">
  <div class="row">
    <div class="col-lg-3  col-md-3  col-sm-4  col-xs-12">
      <div class="overview">
        <div class="icon-box">
          <i class="fa fa-map-marker  center-block" aria-hidden="true"></i>
        </div>
        <div class="description-box">
          <p>{{lawyer.address}}</p>
        </div>
      </div>
      <div class="overview">
        <div class="icon-box">
          <i class="fa fa-list-ul  center-block" aria-hidden="true"></i>
        </div>
        <div class="description-box">
          <p>{{lawyer.years_of_experience}} años de experiencia</p>
        </div>
      </div>
      <div class="overview">
        <div class="icon-box">
          <img src="/img/lawyer-profile/MisAbogados-icon.png" class="center-block" alt="Icono de MisAbogados" />
        </div>
        <div class="description-box">
          <p>Miembro desde {{lawyer.join_date}}</p>
        </div>
      </div>
      <div class="recommendation">
        <h4>¿Recomendarías a este abogado?</h4>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="{{lawyer.rating}}" aria-valuemin="0" aria-valuemax="100" style="width: {{lawyer.rating}}%;">
            <span class="sr-only">TODO/TBD recomendado</span>
          </div>
        </div>
        <p>{{lawyer.rating}}% de los usuarios dice que sí</p>
      </div>
    </div>
    <div class="col-lg-9  col-md-9  col-sm-8  col-xs-12">
      <h3>Acerca del Abogado</h3>
      <p>
        {{lawyer.description}}
      </p>
    </div>
    <div class="col-lg-4  col-md-4  col-sm-4  col-xs-12">
      <h3>Estudios</h3>
      {% for item in lawyer.study %}
      <h5>{{item.place}}</h5>
      <p>from {{item.from}} to {{item.to}}</p>
      <p>Degree {{item.degree}}</p>
      {% endfor %}
    </div>
    <div class="col-lg-5  col-md-5  col-sm-4  col-xs-12">
      <h3>Experiencia</h3>
      {% for item in lawyer.experience %}
      <h5>{{item.place}}</h5>
      <p>{{item.position}}</p>
      <p>From {{item.from}} To {{item.to}}</p>
      {% endfor %}
    </div>
  </div>
</div>



<!-- Profile Details -->
<div class="section  section-white">
  <div class="green-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-6  col-md-6  col-sm-6  col-xs-12">
          <h2>Otros usuarios dicen</h2>
          <ul>
            <li>
              <img src="/img/lawyer-profile/graduation-cap.png" alt="" /> Conocimientos <img src="/img/lawyer-profile/star-gold.png" alt="Estrella" /><img src="/img/lawyer-profile/star-gold.png" alt="Estrella" /><img src="/img/lawyer-profile/star-gold.png" alt="Estrella" /><img src="/img/lawyer-profile/star-gold.png" alt="Estrella" /><img src="/img/lawyer-profile/star-white.png" alt="" />
            </li>
            <li>
              <img src="/img/lawyer-profile/clock.png" alt="" /> Tiempo de respuesta <img src="/img/lawyer-profile/star-gold.png" alt="Estrella" /><img src="/img/lawyer-profile/star-gold.png" alt="Estrella" /><img src="/img/lawyer-profile/star-white.png" alt="" /><img src="/img/lawyer-profile/star-white.png" alt="" /><img src="/img/lawyer-profile/star-white.png" alt="" />
            <li>
              <img src="/img/lawyer-profile/price-tag.png" alt="" /> Accesibilidad de precios <img src="/img/lawyer-profile/star-gold.png" alt="Estrella" /><img src="/img/lawyer-profile/star-gold.png" alt="Estrella" /><img src="/img/lawyer-profile/star-gold.png" alt="Estrella" /><img src="/img/lawyer-profile/star-white.png" alt="" /><img src="/img/lawyer-profile/star-white.png" alt="" />
            <li>
              <img src="/img/lawyer-profile/arrow.png" alt="" /> Calidad de atención <img src="/img/lawyer-profile/star-gold.png" alt="Estrella" /><img src="/img/lawyer-profile/star-gold.png" alt="Estrella" /><img src="/img/lawyer-profile/star-gold.png" alt="Estrella" /><img src="/img/lawyer-profile/star-white.png" alt="" /><img src="/img/lawyer-profile/star-white.png" alt="" />
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- Client Feedback -->
<div class="section  section-white">
  <div class="container">
    <h2>Opiniones de clientes</h2>
    <ul>
      <li>
        <h4>Rafael Maldonado</h4>
        <small>11 de april de 2015</small>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed hendrerit sem sed lacus pellentesque, ac gravida sem ultrices. Etiam ut nisi tellus. Nunc a nibh quam. Integer a dignissim leo.
        </p>
        <img src="/img/lawyer-profile/star-gold.png" alt="Estrella" /><img src="/img/lawyer-profile/star-gold.png" alt="Estrella" /><img src="/img/lawyer-profile/star-gold.png" alt="Estrella" /><img src="/img/lawyer-profile/star-white.png" alt="" /><img src="/img/lawyer-profile/star-white.png" alt="" />
      </li>
    </ul>
    <button type="button" name="button">Ver más opiniones</button>
  </div>
</div>



<!-- Granular details -->
<div class="section  section-blue">
  <div class="darken-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-4  col-md-4  col-sm-4  col-xs-12">
          <h3>Formas de pago</h3>
          <ul>
            <li><img src="/img/lawyer-profile/cash.png" alt="" />Efectivo</li>
            <li><img src="/img/lawyer-profile/credit-cards.png" alt="" />Débito/Crédito</li>
            <li><img src="/img/lawyer-profile/cheque.png" alt="" />Cheque</li>
          </ul>
        </div>
        <div class="col-lg-4  col-md-4  col-sm-4  col-xs-12">
          <h3>Idiomas</h3>
          <ul>
            <li><img src="/img/lawyer-profile/Chile.png" alt="" />Español</li>
            <li><img src="/img/lawyer-profile/United-States-of-America.png" alt="" />Inglés</li>
          </ul>
        </div>
        <div class="col-lg-4  col-md-4  col-sm-4  col-xs-12">
          <h3>Contacto</h3>
          <li><img src="/img/lawyer-profile/cellphone.png" alt="Teléfono" /><a href="tel:+5690000000">+56 9 0000 000</a></li>
          <li><img src="/img/lawyer-profile/envelope.png" alt="Correo electrónico" /><a href="mailto:email@mail.com">email@mail.com</a></li>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
