{% extends "layout.html" %}

{% block metadata %}
    <meta name="description" content="" />
{% endblock %}

{% block page %}

<!-- Lawyers' Profile Page -->
<div class="container-fluid  section-padding  lawyer-profile-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-3  col-md-3  col-sm-4  col-xs-4">
        <div class="profile-img">
          <img src="{{lawyer.profile_picture}}" class="img-responsive  center-block" alt="Alfredo Alcaíno" />
        </div>
      </div>
      <div class="col-lg-5  col-md-5  col-sm-8  col-xs-8">
        <h1>{{lawyer.name}}</h1>
        {% if lawyer.certified %}
       <p>
         <img src="/img/lawyer-profile/certificado.png" class="icon-certificate" alt="" /><span class="qualifier"> Abogado Certificado</span>
       </p>
       {% endif %}
      </div>
      <div class="col-lg-4  col-md-4  col-sm-12  col-xs-12">
        <blockquote>
          <h3>{{lawyer.quote}}</h3>
        </blockquote>
      </div>
    </div>
  </div>
</div>



<!-- Profile Details -->
<div class="container  section-padding  lawyer-profile">
  <div class="row">
    <div class="col-lg-3  col-md-3  col-sm-4  col-xs-12">
      <div class="overview">
        <div class="icon-box">
          <i class="fa fa-map-marker  center-block" aria-hidden="true"></i>
        </div>
        <div class="description-box">
          <p>{{lawyer.address}}</p>
        </div>
      </div>
      <div class="overview">
        <div class="icon-box">
          <i class="fa fa-list-ul  center-block" aria-hidden="true"></i>
        </div>
        <div class="description-box">
          <p>{{lawyer.years_of_experience}} años de experiencia</p>
        </div>
      </div>
      <div class="overview">
        <div class="icon-box">
          <img src="/img/lawyer-profile/MisAbogados-icon.png" class="center-block" alt="Icono de MisAbogados" />
        </div>
        <div class="description-box">
          <p>Miembro desde {{lawyer.join_date}}</p>
        </div>
      </div>
      <div class="recommendation">
        <h4>¿Recomendarías a este abogado?</h4>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="{{lawyer.rating}}" aria-valuemin="0" aria-valuemax="100" style="width: {{lawyer.rating}}%;">
            <span class="sr-only">TODO/TBD recomendado</span>
          </div>
        </div>
        <p>{{lawyer.rating}}% de los usuarios dice que Sí</p>
      </div>
    </div>
    <div class="col-lg-9  col-md-9  col-sm-8  col-xs-12">
      <h3>Acerca del Abogado</h3>
      <p>
        {{lawyer.description}}
      </p>
    </div>
    <div class="col-lg-4  col-md-4  col-sm-4  col-xs-12">
      <h3>Estudios</h3>
      {% for item in lawyer.study %}
      <h5>{{item.place}}</h5>
      <p>Entre {{item.from}} y {{item.to}}</p>
      <p>Tútulo: {{item.degree}}</p>
      {% endfor %}
    </div>
    <div class="col-lg-5  col-md-5  col-sm-4  col-xs-12">
      <h3>Experiencia</h3>
      {% for item in lawyer.experience %}
      <h5>{{item.place}}</h5>
      <p>{{item.position}}</p>
      <p>De {{item.from}} a {{item.to}}</p>
      {% endfor %}
    </div>
  </div>
</div>



<!-- Users say -->
<div class="section  section-blue  users-say">
  <div class="greenen-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-7  col-md-7  col-sm-7  col-xs-12">
          <h2>Otros usuarios dicen</h2>
          <div class="users-say-ratings">
            <div class="users-say-icon">
              <img src="/img/lawyer-profile/graduation-cap.png" alt="" />
            </div>
            <div class="users-say-label">
              <p>
                Conocimientos
              </p>
            </div>
            <div class="users-say-rating">
              {% stars lawyer.feedback_score_knowledge %}
            </div>
          </div>
          <div class="users-say-ratings">
            <div class="users-say-icon">
              <img src="/img/lawyer-profile/clock.png" alt="" />
            </div>
            <div class="users-say-label">
              <p>
                Tiempo de respuesta
              </p>
            </div>
            <div class="users-say-rating">
              {% stars lawyer.feedback_score_response_time %}
            </div>
          </div>
          <div class="users-say-ratings">
            <div class="users-say-icon">
              <img src="/img/lawyer-profile/price-tag.png" alt="" />
            </div>
            <div class="users-say-label">
              <p>
                Accesibilidad de precios
              </p>
            </div>
            <div class="users-say-rating">
              {% stars lawyer.feedback_score_price_accessibility %}
            </div>
          </div>
          <div class="users-say-ratings">
            <div class="users-say-icon">
              <img src="/img/lawyer-profile/arrow.png" alt="" />
            </div>
            <div class="users-say-label">
              <p>
                Calidad de atención
              </p>
            </div>
            <div class="users-say-rating">
              {% stars lawyer.feedback_score_quality %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- Client Feedback -->
<div class="section  section-white  client-feedback">
  <div class="container">
    <h2>Opiniones de clientes</h2>
    <ul>
      {% for feedback in lawyer.feedback%}
      <li>
        <h4>{{feedback.client_name}}</h4>
        <small>11 de april de 2015</small>
        <p>{{feedback.text}}</p>
        {% stars feedback.score %}
      </li>
      {% endfor %}
    </ul>
    <!--<button type="button" class="btn  btn-lg  btn-warning  center-block">Ver más opiniones</button>-->
  </div>
</div>



<!-- Granular details -->
<div class="section  section-blue  granular-details">
  <div class="darken-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-4  col-md-4  col-sm-4  col-xs-12">
          <h3>Formas de pago</h3>
          <ul>
            {% if lawyer.payment_method_cash %}<li><img src="/img/lawyer-profile/cash.png" alt="" />Efectivo</li>{% endif %}
            {% if lawyer.payment_method_card %}<li><img src="/img/lawyer-profile/credit-cards.png" alt="" />Débito/Crédito</li>{% endif %}
            {% if lawyer.payment_method_check %}<li><img src="/img/lawyer-profile/cheque.png" alt="" />Cheque</li>{% endif %}
          </ul>
        </div>
        <div class="col-lg-4  col-md-4  col-sm-4  col-xs-12">
          <h3>Idiomas</h3>
          <ul>
            {% if lawyer.language_spanish %}<li><img src="/img/lawyer-profile/Chile.png" alt="" />Español</li>{% endif %}
            {% if lawyer.language_english %}<li><img src="/img/lawyer-profile/United-States-of-America.png" alt="" />Inglés</li>{% endif %}
          </ul>
        </div>
        <div class="col-lg-4  col-md-4  col-sm-4  col-xs-12">
          <h3>Contacto</h3>
          <ul>
            <li><img src="/img/lawyer-profile/cellphone.png" alt="Teléfono" /><a href="tel:{{lawyer.phone}}">{{lawyer.phone}}</a></li>
            <li><img src="/img/lawyer-profile/envelope.png" alt="Correo electrónico" /><a href="mailto:{{lawyer.email}}">{{lawyer.email}}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
