    <!-- Navbar -->
    <nav class="navbar  navbar-inverse  navbar-fixed-top  two-row">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle  collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/home">
            <img src="/img/logo-nav-bar.png" class="navbar-logo" alt="MisAbogados Logo" >
          </a>
          <div class="navbar-cta  hidden-xs">
            <a href="tel:+56226569866"><span class="glyphicon  glyphicon-earphone"></span>+56 (2) 2656 9866</a>
          </div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse  navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav  navbar-nav  button-bar">
            <li class="hidden-md  hidden-lg"><a href="tel:+56226569866"><span class="glyphicon  glyphicon-earphone"></span>+56 (2) 2656 9866</a></li>
            <li class="dropdown  navbar-button">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Personas <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Divorcio</a></li>
                <li><a href="#">Cobranza</a></li>
                <li><a href="#">Redacción de contratos</a></li>
                <li><a href="#">Derechos del consumidor</a></li>
                <li><a href="#">Extranjeria</a></li>
                <li><a href="#">Delitos</a></li>
                <li><a href="#">Subdivision de terrenos</a></li>
                <li><a href="#">Derecho laboral</a></li>
                <li><a href="#">Juicios de arrendamiento</a></li>
                <li><a href="#">Derecho de visitas</a></li>
              </ul>
            </li>
            <li class="dropdown  navbar-button">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Empresas <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Constitución de sociedades</a></li>
                <li><a href="#">Registro de marcas</a></li>
                <li><a href="#">Deuda y cobro de deudas</a></li>
                <li><a href="#">Quiebras</a></li>
                <li><a href="#">Modificacion de sociedades</a></li>
              </ul>
            </li>
            <li class="navbar-button"><a href="#">Cómo funciona</a></li>
            <li class="navbar-button"><a href="#">Precios</a></li>
            <li class="navbar-button"><a href="#">Red de abogados</a></li>
            <li class="navbar-button"><button type="button" class="btn  btn-success  navbar-btn" data-toggle="modal" data-target="#contactForm">Comienza ahora <span class="glyphicon  glyphicon-menu-right"></span></button></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
