    <!-- Navbar -->
    <nav class="navbar  navbar-inverse  navbar-fixed-top  two-row">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle  collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <img src="/img/logo-nav-bar.png" class="navbar-logo" alt="MisAbogados Logo" >
          </a>
          <div class="navbar-ctl  hidden-xs">
            <ul>
              <li><a href="tel:+56226569866"><span class="glyphicon  glyphicon-earphone  glyphicon-left"></span>+56 (2) 2656 9866</a></li>
              <li class="dropdown  country-selector">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="/img/flags/Chile.png" alt="Chile" /></a>
                <ul class="dropdown-menu">
                  <li><a href="#"><img src="/img/flags/Colombia.png" alt="Colombia" />Colombia</a></li>
                  <li><a href="#"><img src="/img/flags/Mexico.png" alt="Mexico" />Mexico</a></li>
                </ul>
              </li>
              <li><a href="#">Iniciar sesión</a></li>
            </ul>
          </div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse  navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav  navbar-nav  button-bar">
            <li class="hidden-sm  hidden-md  hidden-lg  navbar-button"><a href="tel:+56226569866"><span class="glyphicon  glyphicon-earphone  glyphicon-left"></span>+56 (2) 2656 9866</a></li>
            <li class="hidden-sm  hidden-md  hidden-lg  dropdown  country-selector  navbar-button">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="/img/flags/Chile.png" alt="Chile" /></a>
              <ul class="dropdown-menu">
                <li><a href="#"><img src="/img/flags/Colombia.png" alt="Colombia" />Colombia</a></li>
                <li><a href="#"><img src="/img/flags/Mexico.png" alt="Mexico" />Mexico</a></li>
              </ul>
            </li>
            <li class="hidden-md  hidden-lg  navbar-button"><a href="#">Iniciar sesión</a></li>
            <li class="dropdown  navbar-button">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Personas <span class="caret"></span></a>
              <ul class="dropdown-menu  categoria-list">
                <li>
                  <a href="/categoria/manejo-estado-de-ebriedad">Manejo en estado de ebriedad</a>
                </li>
                <li>
                  <a href="/categoria/divorcio">Divorcio</a>
                </li>
                <li>
                  <a href="/categoria/demanda-de-pension-alimenticia">Demanda de Pensión de alimentos</a>
                </li>
                <li>
                  <a href="/categoria/mediacion-familiar">Mediación Familiar</a>
                </li>
                <li>
                  <a href="/categoria/derecho-laboral">Derecho Laboral</a>
                </li>
                <li>
                  <a href="/categoria/alza-de-isapres">Alza de Isapre</a>
                </li>
                <li>
                  <a href="/categoria/embargos">Embargos</a>
                </li>
                <li>
                  <a href="/categoria/estudio-de-titulos">Estudios de títulos</a>
                </li>
                <li>
                  <a href="/categoria/juicios-de-arrendamiento">Juicios de Arrendamiento y Desalojo</a>
                </li>
                <li>
                  <a href="/categoria/defensa-penal">Defensa Penal</a>
                </li>
                <li>
                  <a href="/categoria/derecho-de-herencias">Herencias</a>
                </li>
                <li>
                  <a href="/categoria/accidentes-de-transito">Accidente de Tránsito</a>
                </li>
                <li>
                  <a href="/categoria/posesion-efectiva">Posesión Efectiva</a>
                </li>
                <li>
                  <a href="/categoria/derechos-del-consumidor">Derechos del consumidor</a>
                </li>
                <li>
                  <a href="/categoria/cuidado-personal">Cuidado Personal</a>
                </li>
                <li>
                  <a href="/categoria/demandas-de-relacion-directa-y-regular">Derecho de Visitas (Relación Directa y Regular)</a>
                </li>
                <li>
                  <a href="/categoria/querella-penal">Querella Penal</a>
                </li>
              </ul>
            </li>
            <li class="dropdown  navbar-button">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Empresas <span class="caret"></span></a>
              <ul class="dropdown-menu  categoria-list">
                <li>
                  <a href="/categoria/constitucion-de-sociedades">Constitución de sociedades</a>
                </li>
                <li>
                  <a href="/categoria/registro-de-marcas">Registro de Marcas</a>
                </li>
                <li>
                  <a href="/categoria/deuda-y-cobro-de-deudas">Deudas y Cobro de deudas</a>
                </li>
                <li>
                  <a href="/categoria/quiebra">Quiebras</a>
                </li>
              </ul>
            </li>
            <li class="navbar-button"><a href="#">Cómo funciona</a></li>
            <li class="navbar-button"><a href="#">Precios</a></li>
            <li class="navbar-button"><a href="#">Red de abogados</a></li>
            <li class="navbar-button"><button type="button" class="btn  btn-success  navbar-btn" data-toggle="modal" data-target="#contactForm">Comienza ahora <span class="glyphicon  glyphicon-menu-right"></span></button></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
