{% extends "base.html" %}
{% block content %}
<form id="payment_form">
  <input name="code" type="hidden" value="{{payment-request.code}}">
  <input name="_id" type="hidden" value="{{payment-request._id}}">

  <div class="col-md-4 col-md-offset-4">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="text-center">{{payment-request.service}}</h3>
        <p class="text-center">{{payment-request.service_description}}</p>
      </div>
      <div class="panel-body text-center">
        <p class="lead">{{settings.currency}} {{payment-request.amount}}</p>
      </div>
      <ul class="list-group list-group-flush text-center">
        <li class="list-group-item"><b>client:</b> {{payment-request.client}}</li>
        <li class="list-group-item"><b>client_email:</b> {{payment-request.client_email}}</li>
        <li class="list-group-item"><b>lawyer:</b> {{payment-request.lawyer}}</li>
      </ul>
      <div class="panel-footer">
        <button class="btn btn-lg btn-block btn-info" data-loading-text="Cargando...">Pagar</button>
      </div>
    </div>
  </div>
</form>
{% endblock %}

