{% extends "layout.html" %}

{% block metadata %}
    <meta name="description" content="" />
{% endblock %}

{% block page %}

<!-- Main title -->
<div class="jumbotron  precios-heading">
  <div class="blue-bg">
    <div class="container-fluid">
      <h1>Un precio ajustado a lo que buscas</h1>
    </div>
  </div>
</div>



<!-- Flexible pricing -->
<div class="section  section-white">
  <div class="container">
    <div class="row  collapse-nicely">
      <div class="col-lg-6  col-md-6  col-sm-6  col-xs-12  vertically-center-cols">
        <h2>Consigue abogados ajustados a tu precio</h2>
        <p>
          Es más conveniente que nosotros consigamos un buen precio para ti en nuestra red, a que lo salgas a buscar por tu cuenta.
        </p>
        <p>
          Nuestra red de abogados te permite acceder a una variedad de servicios y precios que se ajusten a lo que estás buscando.
        </p>
      </div>
      <div class="col-lg-6  col-md-6  col-sm-6  col-xs-12  vertically-center-cols">
        <img src="/img/precios/contrato.png" class="img-responsive  center-block" alt="Gráfico contrato" />
      </div>
    </div>
  </div>
</div>



<!-- How it works -->
<div class="section  section-white">
  <div class="container">
    <div class="row  collapse-nicely">
      <div class="col-lg-6  col-md-6  col-sm-6  col-xs-12  vertically-center-cols">
        <h2>Cómo funciona</h2>
        <p>
          Nuestro servicio te consigue un abogado ajustado a tu precio, totalmente gratis. Déjanos tu caso, y nos pondremos en contacto para lograrlo por ti.
        </p>
      </div>
      <div class="col-lg-6  col-md-6  col-sm-6  col-xs-12  vertically-center-cols">
        <p>
          <button type="button" class="btn  btn-success  btn-lg  center-block" data-toggle="modal" data-target="#contactForm">Comienza ahora <span class="glyphicon  glyphicon-menu-right"></span></button>
        </p>
      </div>
    </div>
  </div>
</div>



<!-- Benefits of using -->
<div class="section  section-blue  benefits-of-using">
  <div class="darken-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-6  col-md-6  col-sm-6  col-xs-12"></div>
        <div class="col-lg-6  col-md-6  col-sm-6  col-xs-12">
          <h2>Beneficios de usar Misabogados.com</h2>
          <ul>
            <li>Conectarte con un abogado es <u>GRATIS</u>.</li>
            <li>Recibes la propuesta de precios al principio.</li>
            <li>Intermediamos para que consigas el mejor precio posible.</li>
            <li>Damos seguimiento continuo a tu relación con el abogado escogido.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- Flexible pricing -->
<div class="section  section-white  flexible-pricing">
  <div class="container">
    <h2>Precios flexibles</h2>
    <p>
      Los precios varían según lo que tú estés necesitando y tus expectativas. Estos son algunos ejemplos de los servicios y precios que más se han repetido en la red. Si te interesa alguno, puedes consultarlo con nosotros para conseguirlo por ti.
    </p>
    <div class="row">
      <div class="col-lg-4  col-md-4  col-sm-4  col-xs-12">
        <div class="thumbnail  solicitud-de-visa">
          <div class="dark-thumbnail-bg">
            <h4>Solicitud de Visa</h4>
            <p>
              Tramita el tipo de Visa que necesitas con un experto en migraciones.
            </p>
            <button type="button" class="btn  btn-success">$100.000</button><small>*Desde</small>
          </div>
        </div>
      </div>
      <div class="col-lg-4  col-md-4  col-sm-4  col-xs-12">
        <div class="thumbnail  promesa-de-compraventa">
          <div class="dark-thumbnail-bg">
            <h4>Promesa de compraventa</h4>
            <p>
              Redacta la promesa asegurando que tenga todas las cláusulas necesarias para ti.
            </p>
            <button type="button" class="btn  btn-success">$45.000</button>
          </div>
        </div>
      </div>
      <div class="col-lg-4  col-md-4  col-sm-4  col-xs-12">
        <div class="thumbnail  factibilidad-de-marca">
          <div class="dark-thumbnail-bg">
            <h4>Factibilidad de Marca</h4>
            <p>
              Descubre si tu marca es factible de ser registrada. Ahórrate el riesgo de intentar registrar sin saberlo.
            </p>
            <button type="button" class="btn  btn-success">Gratis</button><img src="/img/precios/star.png" class="img-responsive  center-block" alt="Estrella" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- FAQ -->
<div class="section  section-white  precios-faq">
  <div class="container">
    <h2>Preguntas Frecuentes</h2>
    <ul>
      <li>
          <img src="/img/precios/question-mark.png" class="img-responsive  center-block" alt="Signo de interrogación" />
          <h3>¿Quiénes son los abogados de Misabogados.com?</h3>
          <p>
            Es una red de abogados pre seleccionados por un proceso estandarizado de entrevistas, para asegurar la buena experiencia de quienes contraten los servicios legales. Rechazamos el 80% de los abogados que conocemos en este proceso.
          </p>
      </li>
      <li>
          <img src="/img/precios/question-mark.png" class="img-responsive  center-block" alt="Signo de interrogación" />
          <h3>¿Cómo saben cuánto cuesta el servicio que necesito?</h3>
          <p>
            Manejamos una extensa red de abogados, y conocemos hace años el mercado legal de nuestro país. Estas dos características nos permite encontrar un abogado ajustado a lo que buscas en precio, experiencia y ubicación. Déjanos tu mensaje para que lo consigamos por ti.
          </p>
      </li>
      <li>
          <img src="/img/precios/question-mark.png" class="img-responsive  center-block" alt="Signo de interrogación" />
          <h3>¿Cómo se hace el pago a mi abogado?</h3>
          <p>
            Una vez que conseguimos el precio que se ajusta a lo que estás buscando, puedes pagar según las facilidades que cada abogado entrega. Puedes pagar con transferencias, depósitos, tarjeta de crédito, débito e incluso online. Lo anterior es muy importante de conversar a la hora de contratar cualquiera de los abogados disponibles.
          </p>
      </li>
    </ul>
  </div>
</div>



<!-- Write to contact lawyer -->
<div class="section  section-blue  text-center  write-to-contact">
  <div class="bluen-bg-dark">
    <div class="container">
      <h2>Escríbenos para encontrar tu abogado</h2>
      <p>
        Déjanos tu mensaje para conseguir un abogado ajustado a ti
      </p>
      <p><button type="button" class="btn  btn-success  btn-lg" data-toggle="modal" data-target="#contactForm">Comienza ahora <span class="glyphicon  glyphicon-menu-right"></span></button></p>
    </div>
  </div>
</div>
{% endblock %}
