{% extends "base.html" %}

{% block metadata %}
<meta name="description" content="Conectamos personas con abogados. Cuéntanos tu problema y nosotros te conectaremos con el abogado que más se ajuste a lo que necesitas: fácil y simple." />
{% endblock %}

{% block content %}

{% include "navbar.html" %}

<div class="container  static-content">
  <div class="row">
    <div class="col-lg-12  col-md-12  col-sm-12  col-xs-12">

      <h1>Política de Privacidad</h1>
      <p>MisAbogados.com respeta y cumple con el deber de protección de los datos de carácter personal de sus Usuarios, en conformidad a la Ley N° 19.628 sobre Protección de la Vida Privada del año 1999 y sus modificaciones.
      </p>
      <p>
        Los datos personales consisten en aquella información concerniente a personas naturales, identificadas o identificables (en adelante los “Datos Personales”).
      </p>
      <p>
        Los Datos Personales recogidos por MisAbogados.com pueden ser aportados por su titular; o bien, pueden ser recolectados desde fuentes accesibles al público. En ambos casos dichos datos serán objeto de un tratamiento automatizado e incorporados a ficheros de propiedad de MisAbogados.com, que no son accesibles al público. De todas formas MisAbogados.com está facultada para contratar servicios de tratamiento y/o análisis de datos a terceros proveedores.
      </p>
      <p>
        MisAbogados.com podrá utilizar los Datos Personales para lograr una buena gestión y administración de los Sitios Web, para poder prestar, ampliar y mejorar los servicios que se ofrecen a través de los Sitios Web, para adecuar dichos servicios a las preferencias y gustos de los Usuarios, y para actualizar la información sobre servicios, productos y contenidos ofrecidos por la Empresa o a través de los Sitios Web. MisAbogados.com puede utilizar los Datos Personales para enviar encuestas a los Usuarios, las que los Usuarios no están, sin embargo, obligados a responder.
      </p>
      <p>
        MisAbogados.com resguarda la seguridad de los Datos Personales y adopta los medios y técnicas que están a su alcance para evitar la pérdida, mal uso, alteración, acceso no autorizado y/o apropiación de los Datos Personales.
      </p>
      <p>
        La Empresa puede revelar los Datos Personales si son requeridas a hacerlo por mandato legal o por una orden judicial y en aquellos casos en que sea imprescindible para defender los derechos de MisAbogados.com, de otros Usuarios o de terceros.
      </p>
      <p>
        La Empresa puede ceder y/o comunicar, bajo obligación de confidencialidad, los Datos Personales a otras personas seleccionadas: a) si el Usuario consiente en que se cedan sus Datos Personales a terceros; o b) si es imprescindible para que el Usuario reciba el servicio o producto que haya solicitado (por ejemplo, los Datos Personales se ceden y/o comunican a los proveedores de los servicios ofrecidos por y que han sido solicitados por el Usuario); o c) si las personas a las que se ceden los Datos Personales ofrecen servicios complementarios o relacionados con los servicios o contenidos de los Sitios Web y se considera que el Usuario puede tener interés en recibir información respecto de los servicios que ofrezcan dichas personas. Lo anterior, se entiende sin perjuicio de los casos en que la ley autoriza a revelar, comunicar o transmitir los Datos Personales sin restricción.
      </p>
      <p>
        El Usuario puede no autorizar la cesión o comunicación a terceros de sus Datos Personales cuando correspondan a aquellos datos que no se encontraban en fuentes accesibles la público, debiendo comunicar su decisión al momento de inscribirse a alguno de los Servicios. En aquellos casos en que el Usuario no autorice la cesión o comunicación de Datos Personales y esta cesión o comunicación sea imprescindible para el otorgamiento de un servicio o producto solicitado por el Usuario, se entiende que, en el acto de comunicar su negativa a la cesión o comunicación de Datos Personales, el Usuario ha cancelado su solicitud del respectivo servicio o producto, haciéndose responsable el Usuario de los efectos que resulten de dicha cancelación.
      </p>
      <p>
        El uso que Usted haga de cada Sitio Web puede ser grabado con el objeto de generar una información estadística respecto a las secciones o lugares de los Sitios Web que son más visitados y de mayor interés para los Usuarios, y así entender mejor las necesidades e intereses de los Usuarios.
      </p>
      <p>
        MisAbogados.com se reserva el derecho a usar el contenido de los correos electrónicos y de cualquier otra información que no consista en datos de carácter personal de los Usuarios para cualquier propósito y para reproducir y divulgar dicha información a terceras personas sin limitación. En este caso, la comunicación de dicha información omitirá las señas que puedan identificar al Usuario que proveyó dicha información.
      </p>
      <p>
        MisAbogados.com podrá hacer uso de otras tecnologías con la finalidad antes señalada.
      </p>
      <p>
        No será responsabilidad de la Empresa:
      </p>
      <ul>
        <li>Los Datos Personales que el Usuario proporcione a sitios web que no son de propiedad de la Empresa, aunque se haya accedido a ellos mediante enlaces (links) que aparecen en los Sitios Web. Es responsabilidad del Usuario informarse sobre las políticas de privacidad aplicables a los sitios web enlazados.</li>
        <li>La información que el Usuario proporcione voluntariamente al comunicarse con otras personas mediante correspondencia electrónica, diarios murales, en chats, grupos de noticias u otras actividades similares. Es responsabilidad del Usuario ser prudente en el tipo de información que entrega al participar en estas actividades públicas.</li>
        <li>La información sobre actividades y preferencias del Usuario que no identifican personalmente al Usuario, que se obtiene mediante el envío de cookies y otras formas que permiten el análisis del tráfico de información, sea que estos servicios los realice la Empresa, con su propio personal o contratando terceros proveedores.</li>
        <li>La información que provenga o haya sido recolectada de fuentes de acceso público.</li>
      </ul>
      <p>
        Cualquier sugerencia a la Política de Privacidad diríjala a <a href="mailto:contacto@misabogados.com">contacto@misabogados.com</a>
      </p>

    </div>
  </div>
</div>

{% include "footer.html" %}

{% endblock %}
