{% extends "base.html" %}

{% block metadata %}
<meta name="description" content="Conectamos personas con abogados. Cuéntanos tu problema y nosotros te conectaremos con el abogado que más se ajuste a lo que necesitas: fácil y simple." />
{% endblock %}

{% block content %}

{% include "navbar.html" %}

<div class="container  static-content">
  <div class="row">
    <div class="col-lg-12  col-md-12  col-sm-12  col-xs-12">

      <h1>Política de Privacidad</h1>
      <p>MisAbogados.com.co respeta y cumple con el deber de protección de los datos de carácter personal de sus Usuarios, en conformidad a la Ley 1581 de 2012 y el Decreto 1377 de 2013. La finalidad principal de esta política es poner en conocimiento de los titulares de los datos personales los derechos que tiene, procedimientos y mecanismos establecido por MisAbogados.com.co para hacerlos efectivos.
      </p>
      <p>
        Los datos personales consisten en aquella información de cualquier vinculada o que pueda asociarse a una concerniente a personas naturales,determinadas o determinables (en adelante los “Datos Personales”).
      </p>
      <p>
        Los Datos Personales recogidos por MisAbogados.com.co pueden ser aportados por su titular; o bien, pueden ser recolectados desde fuentes accesibles al público. En ambos casos dichos datos serán objeto de un tratamiento automatizado por MisAbogados.com.co bajo las condiciones de seguridad necesarias para impedir su adulteración, pérdida, consulta, uso o acceso no autorizado o fraudulento. De todas formas MisAbogados.com.co está facultada para contratar servicios de tratamiento y/o análisis de datos a terceros proveedores.
      </p>
      <p>
        MisAbogados.com.co podrá utilizar los Datos Personales para lograr una buena gestión y administración de los Sitios Web, para poder prestar, ampliar y mejorar los servicios que se ofrecen a través de los Sitios Web, para adecuar dichos servicios a las preferencias y gustos de los Usuarios, y para actualizar la información sobre servicios, productos y contenidos ofrecidos por Misabogados.com.co o a través de los Sitios Web. MisAbogados.com puede utilizar los Datos Personales para enviar encuestas a los Usuarios, las que los Usuarios no están, sin embargo, obligados a responder.
      </p>
      <p>
        MisAbogados.com.co resguarda la seguridad de los Datos Personales y adopta los medios y técnicas que están a su alcance para evitar la pérdida, mal uso, alteración, acceso no autorizado y/o apropiación de los Datos Personales.
      </p>
      <h3>Derechos del titular de los datos personales:</h3>
      <p>
        De acuerdo con la Ley, los Titulares tienen los siguientes derechos:
      </p>
      <p>
        a) Conocer, actualizar y rectificar sus datos personales frente a Misabogados.com.co o Encargados del Tratamiento. Este derecho se podrá ejercer, entre otros frente a datos parciales, inexactos, incompletos, fraccionados, que induzcan a error, o aquellos cuyo Tratamiento esté expresamente prohibido o no haya sido autorizado;
      </p>
      <p>
        b) Solicitar prueba de la autorización otorgada a Misabogados.com.co, salvo cuando expresamente se exceptúe como requisito de acuerdo con la normatividad vigente;
      </p>
      <p>
        c) Solicitar a Misabogados.com.co o el Encargado del Tratamiento, información  respecto del uso que le ha dado a sus datos personales;
      </p>
      <p>
        d) Presentar ante la Superintendencia de Industria y Comercio quejas por infracciones a lo dispuesto en la ley y las demás normas que la modifiquen, adicionen o complementen;
      </p>
      <p>
        e) Revocar la autorización y/o solicitar la supresión del dato cuando en el Tratamiento no se respeten los principios, derechos y garantías constitucionales y legales. La revocatoria y/o supresión procederá cuando la Superintendencia de Industria y Comercio haya determinado que en el Tratamiento el Misabogados.com.co o Encargado han incurrido en conductas contrarias a esta ley y a la Constitución;
      </p>
      <p>
        f) Acceder en forma gratuita a sus datos personales que hayan sido objeto de Tratamiento.
      </p>
      <h3>Tratamiento y finalidad</h3>
      <p>
        MisAbogados.com.co puede revelar los Datos Personales si es requerida a hacerlo por mandato legal o por una orden judicial y en aquellos casos en que sea imprescindible para defender los derechos de MisAbogados.com.co, de otros Usuarios o de terceros.
      </p>
      <p>
        MisAbogados.com.co puede ceder y/o comunicar, bajo obligación de confidencialidad, los Datos Personales a otras personas seleccionadas: a) si el Usuario consiente en que se cedan sus Datos Personales a terceros; o b) si es imprescindible para que el Usuario reciba el servicio o producto que haya solicitado (por ejemplo, los Datos Personales se ceden y/o comunican a los proveedores de los servicios ofrecidos por y que han sido solicitados por el Usuario); o c) si las personas a las que se ceden los Datos Personales ofrecen servicios complementarios o relacionados con los servicios o contenidos de los Sitios Web y se considera que el Usuario puede tener interés en recibir información respecto de los servicios que ofrezcan dichas personas. Lo anterior, se entiende sin perjuicio de los casos en que la ley autoriza a revelar, comunicar o transmitir los Datos Personales sin restricción.
      </p>
      <p>
        El Usuario puede no autorizar la cesión o comunicación a terceros de sus Datos Personales cuando correspondan a aquellos datos que no se encontraban en fuentes accesibles al público, debiendo comunicar su decisión al momento de inscribirse a alguno de los Servicios. En aquellos casos en que el Usuario no autorice la cesión o comunicación de Datos Personales y esta cesión o comunicación sea imprescindible para el otorgamiento de un servicio o producto solicitado por el Usuario, se entiende que, en el acto de comunicar su negativa a la cesión o comunicación de Datos Personales, el Usuario ha cancelado su solicitud del respectivo servicio o producto, haciéndose responsable el Usuario de los efectos que resulten de dicha cancelación.
      </p>
      <p>
        El uso que Usted haga de cada Sitio Web puede ser grabado con el objeto de generar una información estadística respecto a las secciones o lugares de los Sitios Web que son más visitados y de mayor interés para los Usuarios, y así entender mejor las necesidades e intereses de los Usuarios.
      </p>
      <p>
        MisAbogados.com.co se reserva el derecho a usar el contenido de los correos electrónicos y de cualquier otra información que no consista en datos de carácter personal de los Usuarios para cualquier propósito y para reproducir y divulgar dicha información a terceras personas sin limitación. En este caso, la comunicación de dicha información omitirá las señas que puedan identificar al Usuario que proveyó dicha información.
      </p>
      <p>
        MisAbogados.com.co podrá hacer uso de otras tecnologías con la finalidad antes señalada.
      </p>
      <p>
         No será responsabilidad de Misabogados.com.co:
      </p>
      <ul>
        <li>Los Datos Personales que el Usuario proporcione a sitios web que no son de propiedad de Misabogados.com.co, aunque se haya accedido a ellos mediante enlaces (links) que aparecen en los Sitios Web. Es responsabilidad del Usuario informarse sobre las políticas de privacidad aplicables a los sitios web enlazados.</li>
        <li>La información que el Usuario proporcione voluntariamente al comunicarse con otras personas mediante correspondencia electrónica, diarios murales, en chats, grupos de noticias u otras actividades similares. Es responsabilidad del Usuario ser prudente en el tipo de información que entrega al participar en estas actividades públicas.</li>
        <li>La información sobre actividades y preferencias del Usuario que no identifican personalmente al Usuario, que se obtiene mediante el envío de cookies y otras formas que permiten el análisis del tráfico de información, sea que estos servicios los realice Misabogados.com.co, con su propio personal o contratando terceros proveedores.</li>
        <li>La información que provenga o haya sido recolectada de fuentes de acceso público.</li>
      </ul>
      <h3>Procedimiento para ejercer derechos</h3>
      <p>
        En el caso de que el titular de los datos personales considere que se han violado sus derechos dentro del marco de la vigencia de la Ley 1581 de 2012 y el Decreto 1377 de 2013 y las normas que las modifiquen, adicionen o sustituyan, el procedimiento que debe seguir es el siguiente:
      </p>
      <ol>
        <li>El titular del dato o su representante deberá presentar comunicación por escrito donde conste su calidad, informe su interés y exprese de manera clara los fundamentos de su solicitud.</li>
        <li>La misma deberá ser radicada en las oficinas de Misabogados.com.co ubicadas en la Carrera 18a No. 103 -11 de la ciudad de Bogotá D.C. o remitida al correo electrónico: info@miabogados.com</li>
        <li>Misabogados.com.co  procederá a responder a través de su Representante Legal al titular en un término máximo de quince (15) días hábiles, de manera clara y precisa y en caso de que se deban tomar medida, se informaran las actividades realizadas con el fin de proteger los derechos del titular.</li>
      </ol>
      <h3>Información de contacto</h3>
      <p>
        Misabogados.com. Colombia S.A.S.,  tiene domicilio en la ciudad de Bogotá D.C., en la Carrera 18a No. 103-11, dirección electrónica info@misabogados.com y telefóno (+57 1 3816594)
      </p>
      <h3>Vigencia</h3>
      <p>
        La política de tratamiento de la información rige a partir del siete (7) de marzo de 2016.
      </p>

    </div>
  </div>
</div>

{% include "footer.html" %}

{% endblock %}
