<html lang="en">
<head>
  <meta charset="utf-8">

  <title>MisAbogados -  Categoría</title>
  <meta name="description" content="">
  <meta name="author" content="Misabogados">
  <link rel="stylesheet" href="styles.css?v=1.0">

  
</head>

<body class="categoria">
<header class="categoria">
<nav><div class="inner-block">
<center>NAV</center> <!--NAVIGATION TEMPLATE HERE -->

</div>


</nav>
    <hgroup>	<div class="color-overlay"> </div>

<div class="inner-block">
	
	  <aside class="left">
		<h3>Registro de Marca</h3>  
		<hr>
		<h3>Protege lo que te ha costado tanto trabajo conseguir</h3>
		<div>Un registro de marca le da mayor protección legal a tu negocio</div><div style="height:15px;">&nbsp;</div>
		<button>Registra tu marca</button>
	  </aside>

	  
	</div>
    </hgroup>
</header>

<section class="white">
	<div class="inner-block">
		<aside class="left">

			<h2>Preguntas frecuentes</h2>
			<div>
				<p>¿Qué es el registro de marca?</p>
				<p>Es una red de abogados pre seleccionados por un proceso estandarizado de entrevistas, para asegurar la buena experiencia de quienes contraten los servicios legales. Rechazamos el 80% de los abogados que conocemos en este proceso.</p> 
				<p>¿Qué es evaluar la factibilidad de una marca?</p>
<p>Manejamos una extensa red de abogados, y conocemos hace años el mercado legal de nuestro país. Estas dos características nos permite encontrar un abogado ajustado a lo que buscas en precio, experiencia y ubicación. Déjanos tu mensaje para que lo consigamos por ti.</p> 
				<p>¿Es necesario contratar un abogado para registrarla?</p>				
				<p>Una vez que conseguimos el precio que se ajusta a lo que estás buscando, puedes pagar según las facilidades que cada abogado entrega. Puedes pagar con transferencias, depósitos, tarjeta de crédito, débito e incluso online. Lo anterior es muy importante de conversar a la hora de contratar cualquiera de los abogados disponibles</p>				
				
			</div>
		</aside>
		
		<aside class="right"> 
			<div class="grey">
				Categorías relacionadas
				<ul><li>Patente comercial</li>
				<li>Constitución de sociedad</li>
				<li>Modificación de sociedad</li>
				</ul>
			</div>
		 </aside>	
		 		<div class="clear"></div>

	</div>
</section>

<section class="backgr"><div class="color-overlayB"> </div>
	<div class="inner-block">
		<aside class="left">
			<h2>Precios</h2>
			<div>
				<p>Las marcas se registran por clases. Una misma marca, puede deber ser registrada en más de una clase.</p>
				<p>Así, una clase promedio cuesta aproximadamente $150.000 más su impuesto de 3UTM por cada clase, igualmente.</p>
				<hr>
				<p>¿Quieres saber cuánto te podría costar?<br /><small>*Recibe distintas cotizaciones de abogados </small></p>

				<button>Cotiza gratis en nuestra red ></button><p></p>

			</div>
		</aside>
		<div class="clear"></div>
	</div>
</section>

<section  class="white">
	<div class="inner-block">
		<aside class="left">
			<h2>Preguntas frecuentes</h2>
			<div>
				<p>¿Qué es el registro de marca?</p>
				<p>Es una red de abogados pre seleccionados por un proceso estandarizado de entrevistas, para asegurar la buena experiencia de quienes contraten los servicios legales. Rechazamos el 80% de los abogados que conocemos en este proceso.</p>
				<p>¿Qué es evaluar la factibilidad de una marca?</p>
				<p>Manejamos una extensa red de abogados, y conocemos hace años el mercado legal de nuestro país. Estas dos características nos permite encontrar un abogado ajustado a lo que buscas en precio, experiencia y ubicación. Déjanos tu mensaje para que lo consigamos por ti.</p>
				<p>			¿Es necesario contratar un abogado para registrarla?</p>
				<p>Una vez que conseguimos el precio que se ajusta a lo que estás buscando, puedes pagar según las facilidades que cada abogado entrega. Puedes pagar con transferencias, depósitos, tarjeta de crédito, débito e incluso online. 
				Lo anterior es muy importante de conversar a la hora de contratar cualquiera de los abogados disponibles<br />
				<a href="http://staging-app.misabogados.com/categoria/registro-de-marcas">Ve todas las preguntas frecuentes para Registro de Marca ></a></p>
			</div>
		</aside>
		<aside class="right preguntas">
			<h3>¿Tienes dudas?</h3>
			<img src="http://storage.googleapis.com/instapage-user-media/f793ec6f/4388177-0-Nohemi-copia.jpg">
			<div>
				Nohemí Díaz<br />
				Especialista en clientes<br />
				Llámanos<br />
				(55) 5350-8745
			</div>
			<button>Contactar ></button>

			</aside>
		<div class="clear"></div>

	</div>
</section>
<hr>
<section   class="white">
	<div class="inner-block">
		
			<h2>Servicios populares</h2>
			<div>
			Revisa si alguno se acomoda a ti
			</div>
			<div class="servicios">
			   <div>
				   <img src="http://storage.googleapis.com/instapage-user-media/f793ec6f/3931154-0-shutterstock-1435686.jpg"><br>
				   <p>Evaluación de factibilidad de marca (presencial)</p>
				   <button>Cotiza este servicio</button>
			   </div>
			   <div>
				   <img src="http://storage.googleapis.com/instapage-user-media/f793ec6f/3949686-0-shutterstock-2352869.jpg"><br>
				   <p>Registro de marca en 2 clases</p>
				   <button>Cotiza este servicio</button>
			   </div>
			   <div>
					<img src="http://storage.googleapis.com/instapage-user-media/f793ec6f/3723826-0-shutterstock-1833135.jpg">	<br>
					<p>Evaluación de factibilidad de marca (telefónica)</p>
					<button>Cotiza este servicio</button>
			   </div>	
			</div>
			<div class="clear"><br/ ></div>
				<div class="clear"></div>

	</div>
</section>

<footer>
	<section class="blue">
		<div class="inner-block">
			<h2>¿No encontraste lo que buscabas?</h2>
			
		<div>	<button>Cuéntanos qué necesitas</button> <button>Busca más información</button></div>
		</div>
	</section>

	<section class="grey"></section>
</footer>

</body>
</html>