<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  </head>
  <body>
    <p>Hola {{name}}</p>

    <p>Te confirmamos que hemos recibido tu solicitud de registro correctamente.</p>

    <p>Para confirmar tu cuenta, presiona el siguiente enlace: <a href="{{verification-url}}">{{verification-url}}</p>
    

    <p>¿Qué pasa ahora?<p>
      <ul>
        <li>Una vez confirmada tu cuenta, deberás ingresar con tu correo y contraseña para comenzar.</li>
        <li>Deberás escoger crear un perfil como Abogado o Firma de Abogados, y completar toda la información necesaria para crear tu nueva presencia online.</li>
      </ul>

    <p>Recomendaciones para mejores resultados:</p>
    <ul>
      <li>Completa con la mayor información posible tu perfil. Agrega las distinciones que te destacan como abogado o firma de abogados</li>
      <li>Agrega una imagen a tu perfil, idealmente de alta calidad.</li>
    </ul>

    <p>PagoLegal:</p> 
    <ul>
      <li>Con tu perfil creado, ya puedes comenzar a usar PagoLegal y cobrar tus honorarios a través de Webpay.</li>
      <li>Cada recaudación que hagas, será transferida semanalmente a tu cuenta corriente. Para un mejor funcionamiento, completa tus datos de facturación (bajo tu imagen de perfil en el editor) para hacer este proceso mucho más fácil.</li>
    </ul>

    <p>Cualquier duda o problema que tengas, contáctanos en todo momento a contacto@misabogados.com. Estaremos felices de ayudarte</p>

    <p>Saludos!</p>

  </body>
</html>
