/* Footer
---------------------------------------------*/

/* Footer: Main */
.footer {
  color: $inverse-font-color;
}

.footer li a {
  text-decoration: none;
  border-bottom: 1px dotted;
}

.footer li a:hover {
  color: $inverse-font-color;
  border-bottom: 1px solid;
}

.footer-main {
  background-color: $background-grey;
  padding-top: 30px;
  padding-bottom: 40px;
}

.footer-main img {
  margin-bottom: 25px;
}

.footer-main a {
  color: $inverse-font-color-hover;
}

.footer-main p {
  margin-bottom: 25px;
}

.footer-main h4 {
  margin-top: 20px;
}

.footer-main ul {
  padding-left: 10px;
}

.footer-main li {
  list-style-type: none;
  margin-bottom: 3px;
}

.social-icons {
  padding-left: 10px;
}

.footer-main i {
  font-size: 32px;
  padding-right: 2px;
}

.footer-main i:hover {
  color: $inverse-font-color;
}

.webpay-img {
  margin-top: 20px;
  max-height: 50px;
}

@media (min-width: 1200px) {
  .footer-contact .container {
    width: 1200px;
  }
}



/* Footer: Contact Information */

.footer-contact {
  background-color: $background-blue;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.footer-contact small {
  text-transform: uppercase;
}

@media (max-width: 992px) {
  .footer-contact div {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.footer-contact i {
  font-size: 18px;
  padding-right: 5px;
  vertical-align: middle;
}

.footer-contact a {
  color: $inverse-font-color;
}
