/* Helpers
---------------------------------------------*/

/* 2 row navbar */
@media (min-width: 768px) {
  .two-row .navbar-collapse {
    clear: left;
  }
}

/* Redefines navbar breakpoint */
@media (max-width: 1010px) {
  .navbar-header {
    float: none;
  }
  .navbar-left,.navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in{
    display:block !important;
  }
}

/* Adds a black overlay with transparency */
.darken-bg {
  background-color: rgba(0, 0, 34, 0.498039);
  padding-top: 30px;
  padding-bottom: 30px;
}

/* Adds a blue overlay with transparency */
.bluen-bg {
  background-color: rgba(40, 119, 215, 0.498039);
  margin-top: -60px;
  margin-bottom: -60px;
  padding-top: 30px;
  padding-bottom: 30px;
}

/* Adds helper class for removing button background */
.btn-no-fill {
  background-color: rgba(0, 0, 0, 0);
  color: #FFFFFF;
}

/* For implementing a 5 colum layout */
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}
