/*--------------------------------------------
 * Lawyers' Landing Page Sections            *
---------------------------------------------*/



/* CTA
---------------------------------------------*/

.cta-main-lawyers {
  background: url(/img/lawyers-landing-page/looking-at-computer.jpg);
  background-size: cover;
  background-position: 70% 100%;
  background-repeat: no-repeat;
}



/* Hundreds of Lawyers use MisAbogados
---------------------------------------------*/

.social-proof {
  background: url(/img/lawyers-landing-page/guy-with-phone.jpg);
  background-size: cover;
  background-position: 15% 0%;
  background-repeat: no-repeat;
}



/* Client Break-down
---------------------------------------------*/

.client-break-down {
  background: url(/img/lawyers-landing-page/desk-with-objects.png);
  background-size: cover;
  background-position: 44% 0%;
  background-repeat: no-repeat;
}
