/* Lawyers Profile Page
---------------------------------------------*/

.lawyer-profile-header {
  background-color: $background-blue;
  color: $inverse-font-color;
  padding-bottom: 0px;
  position: relative;

  .profile-img {
    height: 200px;
    width: 200px;
    overflow: hidden;
    border-radius: 50%;
    position: absolute;
    margin-top: -10px;
    box-shadow: 0px 2px 5px #888888;
  }

  h1 {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .qualifier {
    font-size: $base-font-size + 2;
  }

  p {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  blockquote {
    border-left: none;
    padding: 0px;

    h3 {
      margin-top: 20px;
      font-family: "Open Sans", Helvetica, Arial, sans-serif;
      font-weight: bold;
      line-height: 1.25em;
      text-align: center;
    }
  }
}

.lawyer-profile {

  padding-top: 40px;

  h3, h4, h5 {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    color: $heading-blue;
  }

  h3 {
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: bold;
  }

  h5:first-of-type {
    margin-top: 5px;
  }

  h5 {
    font-size: $base-font-size;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 5px;
  }
}

.overview:first-of-type {
  margin-top: 40px;
}

.overview {
  height: 45px;

  .icon-box {
    width: 20%;
    float: left;
    text-align: center;
  }

  i {
    color: $background-green;
    font-size: 30px;
  }

  img {
    width: 30px;
  }

  .description-box {
    width: 80%;
    float: right;
    padding-left: 10px;
  }

  p {
    font-size: $base-font-size - 2;
  }
}

.recommendation {
  margin-top: 40px;

  h4 {
    font-weight: bold;
    text-align: center;
    font-size: $base-font-size;
  }

  .progress {
    margin-bottom: 5px;
  }

  .progress-bar {
    background-color: $background-green;
  }

  p {
    font-size: $base-font-size - 2;
    text-align: center;
  }
}
