/* Navbar
---------------------------------------------*/

.navbar {
  background-color: #2b2b2b;
}

.navbar .container {
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
}

.navbar-header {
  float: none;
  padding-left: 25px;
  padding-right: 25px;
}

.navbar-fixed-top {
  border-bottom: solid 1px #363636;
}

.navbar-brand {
  height: 50px;
  margin-left: 5px !important;
  padding: 9px 0px;
}

.navbar-logo {
  height: 33px;
}

@media (min-width: 1011px) {
  .navbar-brand {
    height: 50px;
    margin-left: 0px !important;
    padding: 9px 0px;
  }

  .navbar-logo {
    height: 33px;
  }

}

.navbar-ctl {
  height: 50px;
  float: right;
  padding-right: 5px;
}

  .navbar-ctl li {
    float: left;
    margin-right: 20px;
    padding-top: 15px;
  }

  .navbar-ctl li:last-of-type {
    margin-right: 0px;
  }

  .navbar-ctl a {
    color: #FFFFFF !important;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
  }

  .navbar-ctl a:hover {
    color: #b2b2b2 !important;
  }

  .navbar-ctl ul {
    padding-left: 0px !important;
    min-width: 150px;
  }

@media (min-width: 768px) {
  .country-selector {
    padding-top: 12px !important;
  }
}

  .dropdown-toggle img {
    height: 25px;
  }

  .country-selector li {
    width: 100%;
    padding-top: 0px;
  }

  .country-selector li img {
    margin-right: 10px;
    height: 20px;
  }

  .country-selector li a {
    padding: 10px 20px !important;
    font-size: 14px;
  }

.navbar-button a {
  margin-top: 2px;
  color: #FFFFFF !important;
  font-weight: bold;
}

.navbar-button a:hover {
  color: #b2b2b2 !important;
}

.dropdown-menu {
  background-color: #2b2b2b;
  color: #FFFFFF;
}

.dropdown-menu li a {
  white-space: normal;
}

.dropdown-menu li a:hover {
  background-color: #454545 !important;
}

.navbar-button button {
  margin-left: 15px;
  margin-bottom: 25px;
}

@media (min-width: 1011px) {

  .button-bar {
    height: 40px;
  }

  .navbar-button a {
    margin-top: 0px;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }

  .navbar ul {
    padding-left: 0px;
    border-top: solid 1px #363636;
    width: 100%;
  }

  .navbar-button {
    width: 16.66666666666667%;
    border-left: solid 1px #363636;
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    background: linear-gradient(top, #2b2b2b, #262626); /* Standard syntax */
      background: -webkit-linear-gradient(top, #2b2b2b, #262626); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(top, #2b2b2b, #262626); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(top, #2b2b2b, #262626); /* For Firefox 3.6 to 15 */
  }

  .navbar-button button {
    margin-top: 5px;
    margin-left: 0px;
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: bold;
    max-height: 30px;
    max-width: 175px;
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .navbar-button button span {
    margin-top: -1px;
    font-weight: bold;
  }

  .navbar-button:last-of-type {
    border-right: solid 1px #363636;
  }
}

.navbar-toggle {
  margin-right: 5px;
}

@media (min-width: 768px) {
  .navbar-toggle {
    margin-right: 5px;
    margin-left: 15px;
  }
}

@media (max-width: 1010px) {
  .navbar-collapse ul {
    padding-left: 20px;
  }

  .navbar-nav li a {
    padding-top: 6px;
    padding-bottom: 6px;
  }
}
