fieldset {
    border: 1px solid #adadad;
    border-radius: 4px;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend {
    font-size: 1.4em;
    text-align: left;
    font-weight: light;
    color: #999;
    width: inherit;
    padding:0 10px;
    border-bottom:none;
}

label {
    font-weight: normal;
}

body {
    color: #444;
    font-family: 'Open Sans';
}

.btn-secondary {
    color: #373a3c;
    background-color: #fff;
    border-color: #ccc;
}

.btn-secondary:hover {
    color: #373a3c;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.glyphicon-play {
    height: 16;
}

h1 {
    margin: 30 0 20 0;
}

#create-lead-button {
    margin: 10 0 40 0;
}

.form-group.col-xs-6, .form-group.col-xs-3 {
    margin-right: 15px;
}
