@charset "UTF-8";
/*
*
* MisAbogados Theme
*
*/
/* Global
---------------------------------------------*/
/* Global Variables */
/* Global Patterns */
.section-padding, .section-white, .section-blue, .static-content {
  padding-top: 60px;
  padding-bottom: 60px; }

/* Resets */
body {
  font-family: "Open Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
  /* Move down content because we have a fixed navbar */
  padding-top: 70px; }

/* The paddding adjustment isn't necessary on mobile devices */
@media (max-width: 1010px) {
  body {
    padding-top: 0px; } }
/* Constraining display width on large screens */
@media (min-width: 1200px) {
  .container {
    width: 1000px; } }
h1, h2, h3, h4 {
  font-family: "Raleway", serif;
  font-weight: 300; }

/* To comply with SEO best practices, treat h2 as if h1 */
h2 {
  font-size: 3.25em; }

@media (max-width: 992px) {
  h2 {
    font-size: 2.25em; } }
p {
  font-size: 16px; }

.btn-lg {
  margin-top: 20px; }

.jumbotron {
  margin-bottom: 0px;
  padding-bottom: 75px; }

.jumbotron h1 {
  font-size: 2.25em; }

@media (min-width: 1010px) {
  .jumbotron h1 {
    font-size: 3.25em; } }
.glyphicon {
  vertical-align: middle;
  margin-top: -5px; }

.glyphicon-left {
  margin-right: 5px; }

.anchor {
  display: block;
  height: 100px;
  margin: -100px 0 0;
  visibility: hidden; }

@media (max-width: 992px) {
  .anchor {
    display: block;
    height: 50px;
    margin: -50px 0 0;
    visibility: hidden; } }
/* Alert styling */
.alert-top {
  position: absolute;
  top: 105px;
  width: 80%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto; }

@media (max-width: 1010px) {
  .alert-top {
    top: 70px; } }
/* Helpers
---------------------------------------------*/
/* 2 row navbar */
@media (min-width: 768px) {
  .two-row .navbar-collapse {
    clear: left; } }
/* Redefines navbar breakpoint */
@media (max-width: 1010px) {
  .navbar-header {
    float: none; }

  .navbar-left, .navbar-right {
    float: none !important; }

  .navbar-toggle {
    display: block; }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }

  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px; }

  .navbar-collapse.collapse {
    display: none !important; }

  .navbar-nav {
    float: none !important;
    margin-top: 7.5px; }

  .navbar-nav > li {
    float: none; }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px; }

  .collapse.in {
    display: block !important; } }
/* Adds a black overlay with transparency */
.dark-bg {
  background-color: rgba(0, 0, 34, 0.49804);
  padding-top: 30px;
  padding-bottom: 30px; }

.darken-bg {
  background-color: rgba(85, 85, 85, 0.49804);
  margin-top: -60px;
  margin-bottom: -60px;
  padding-top: 60px;
  padding-bottom: 60px; }

/* Adds a blue overlay with transparency */
.bluen-bg {
  background-color: rgba(40, 119, 215, 0.49804);
  margin-top: -60px;
  margin-bottom: -60px;
  padding-top: 60px;
  padding-bottom: 60px; }

/* Adds helper class for removing button background */
.btn-no-fill {
  background-color: transparent;
  color: #FFFFFF; }

/* For implementing a 5 colum layout */
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px; }

.col-xs-5ths {
  width: 20%;
  float: left; }

@media (min-width: 768px) {
  .col-sm-5ths {
    width: 20%;
    float: left; } }
@media (min-width: 992px) {
  .col-md-5ths {
    width: 20%;
    float: left; } }
@media (min-width: 1200px) {
  .col-lg-5ths {
    width: 20%;
    float: left; } }
/* Navbar
---------------------------------------------*/
.navbar {
  background-color: #2b2b2b; }

.navbar .container {
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
  width: 100%; }

.navbar-header {
  float: none;
  padding-left: 25px;
  padding-right: 25px; }

.navbar-fixed-top {
  border-bottom: solid 1px #363636; }

.navbar-brand {
  height: 50px;
  margin-left: 5px !important;
  padding: 9px 0px; }

.navbar-logo {
  height: 33px; }

@media (min-width: 1011px) {
  .navbar-brand {
    height: 50px;
    margin-left: 0px !important;
    padding: 9px 0px; }

  .navbar-logo {
    height: 33px; } }
.navbar-ctl {
  height: 50px;
  float: right;
  padding-right: 5px; }

.navbar-ctl li {
  float: left;
  margin-right: 20px;
  padding-top: 15px; }

.navbar-ctl li:last-of-type {
  margin-right: 0px; }

.navbar-ctl a {
  color: #FFFFFF !important;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none; }

.navbar-ctl a:hover {
  color: #b2b2b2 !important; }

.navbar-ctl ul {
  padding-left: 0px !important;
  min-width: 150px; }

@media (min-width: 768px) {
  .country-selector {
    padding-top: 12px !important; } }
.dropdown-toggle img {
  height: 25px; }

.country-selector li {
  width: 100%;
  padding-top: 0px; }

.country-selector li img {
  margin-right: 10px;
  height: 20px; }

.country-selector li a {
  padding: 10px 20px !important;
  font-size: 14px; }

.navbar-button a {
  margin-top: 2px;
  color: #FFFFFF !important;
  font-weight: bold; }

.navbar-button a:hover {
  color: #b2b2b2 !important; }

.dropdown-menu {
  background-color: #2b2b2b;
  color: #FFFFFF; }

.categoria-list {
  font-size: 14px;
  width: 300px !important; }

.categoria-list li a {
  padding-top: 3px !important;
  padding-bottom: 3px !important; }

.dropdown-menu li a {
  white-space: normal; }

.dropdown-menu li a:hover {
  background-color: #454545 !important; }

.navbar-button button {
  margin-left: 15px;
  margin-bottom: 25px; }

@media (min-width: 1011px) {
  .button-bar {
    height: 30px; }

  .navbar-button a {
    margin-top: 0px;
    padding-top: 7px !important;
    padding-bottom: 6px !important; }

  .navbar ul {
    padding-left: 0px;
    border-top: solid 1px #363636;
    width: 100%; }

  .navbar-button {
    width: 16.66666666666667%;
    border-left: solid 1px #363636;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    background: linear-gradient(top, #2b2b2b, #262626);
    /* Standard syntax */
    background: -webkit-linear-gradient(top, #2b2b2b, #262626);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, #2b2b2b, #262626);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top, #2b2b2b, #262626);
    /* For Firefox 3.6 to 15 */ }

  .navbar-button button {
    margin-top: 4px;
    margin-left: 0px;
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: bold;
    max-height: 25px;
    max-width: 175px;
    padding-top: 2px;
    padding-bottom: 2px; }

  .navbar-button button span {
    margin-top: -3px;
    font-weight: bold; }

  .navbar-button:last-of-type {
    border-right: solid 1px #363636; } }
.navbar-toggle {
  margin-right: 5px; }

@media (min-width: 768px) {
  .navbar-toggle {
    margin-right: 5px;
    margin-left: 15px; } }
@media (max-width: 1010px) {
  .navbar-collapse ul {
    padding-left: 20px; }

  .navbar-nav li a {
    padding-top: 6px;
    padding-bottom: 6px; } }
/* Contact Form
---------------------------------------------*/
.contact-form h4 {
  text-align: center;
  text-transform: uppercase;
  font-size: 2em; }

.contact-form h5 {
  text-align: center;
  font-size: 1.25em; }

.bold {
  font-weight: bold; }

.form-group {
  margin-bottom: 10px; }

.btn-default.active {
  background-color: #c0c0c0 !important; }

.contact-form textarea {
  resize: vertical; }

.contact-form .btn-lg {
  margin-top: 10px; }

/* Footer
---------------------------------------------*/
/* Footer: Main */
.footer {
  color: #FFFFFF; }

.footer li a {
  text-decoration: none;
  border-bottom: 1px dotted; }

.footer li a:hover {
  color: #FFFFFF;
  border-bottom: 1px solid; }

.footer-main {
  background-color: black;
  padding-top: 30px;
  padding-bottom: 40px; }

.footer-main img {
  margin-bottom: 25px; }

.footer-main a {
  color: #b2b2b2; }

.footer-main p {
  margin-bottom: 25px; }

.footer-main h4 {
  margin-top: 20px; }

.footer-main ul {
  padding-left: 10px; }

.footer-main li {
  list-style-type: none;
  margin-bottom: 3px; }

.social-icons {
  padding-left: 10px; }

.footer-main i {
  font-size: 32px;
  padding-right: 2px; }

.footer-main i:hover {
  color: #FFFFFF; }

.webpay-img {
  margin-top: 20px;
  max-height: 50px; }

@media (min-width: 1200px) {
  .footer-contact .container {
    width: 1200px; } }
/* Footer: Contact Information */
.footer-contact {
  background-color: #2877D7;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center; }

.footer-contact small {
  text-transform: uppercase; }

@media (max-width: 992px) {
  .footer-contact div {
    margin-top: 5px;
    margin-bottom: 5px; } }
.footer-contact i {
  font-size: 18px;
  padding-right: 5px;
  vertical-align: middle; }

.footer-contact a {
  color: #FFFFFF; }

/*--------------------------------------------
 * Home Page Sections                        *
---------------------------------------------*/
/* CTA
---------------------------------------------*/
.cta {
  padding-top: 0px;
  padding-bottom: 0px;
  color: #FFFFFF;
  text-align: center; }

.cta h1 {
  font-size: 3.1em;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 4em; }

@media (max-width: 992px) {
  .cta h1 {
    margin-top: 1.25em; } }
.cta p {
  font-size: 1.85em; }

.cta button {
  font-size: 1em;
  margin-top: 40px;
  margin-bottom: 80px; }

@media (max-width: 992px) {
  .cta button {
    margin-bottom: 50px; } }
.cta h6 {
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase; }

.cta .thumbnail {
  background: transparent;
  border: none; }

.cta .thumbnail img {
  max-height: 75px; }

/* Main CTA
---------------------------------------------*/
.cta-main {
  background: url(/img/main-cta/cta-bg.jpg);
  background-size: cover;
  background-position: 35% 25%;
  background-repeat: no-repeat; }

/* Categories Section
---------------------------------------------*/
.categories-section {
  background-color: #FFFFFF; }

.categories-section h2 {
  color: #089ad6;
  text-align: center;
  margin-bottom: 30px; }

@media (min-width: 992px) {
  .categories-section h2 {
    margin-bottom: 50px; } }
.categories-section .input-group {
  margin-bottom: 50px;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  float: none; }

@media (min-width: 992px) {
  .categories-section .input-group {
    padding-top: 40px;
    margin-bottom: 25px;
    float: left; } }
.categories-list .thumbnail {
  position: relative;
  overflow: hidden;
  height: 160px;
  background-color: #f5f5f5; }

.caption h5 {
  font-size: .85em; }

@media (min-width: 992px) {
  .caption h5 {
    font-size: 1em; } }
.caption-overlay {
  background-color: rgba(0, 0, 0, 0.55);
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 2%;
  opacity: 0;
  z-index: 2;
  text-align: center;
  color: #FFFFFF !important; }

.caption-overlay h5 {
  font-size: 1.25em;
  font-weight: bold;
  margin-top: 30px; }

.caption-overlay button {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  bottom: 15px; }

.caption-overlay button span {
  margin-right: 0px; }

.caption-overlay:hover {
  opacity: 100; }

.categories-list img {
  height: 75px;
  margin-top: 15px; }

.categories-list h5 {
  text-align: center;
  text-transform: uppercase; }

/* Laywers Section
---------------------------------------------*/
.lawyers-section {
  background-color: #2877D7;
  color: #FFFFFF; }

.lawyers-section li {
  font-size: 16px; }

@media (max-width: 768px) {
  .lawyer-list {
    margin-top: 75px;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px; } }
.lawyer-list li {
  list-style-type: none;
  margin-bottom: 40px;
  font-size: 14px; }

.lawyer-list h4 {
  font-weight: bold;
  margin-top: 5px; }

.lawyer-pic img {
  max-width: 150px; }

.icon-certificate {
  height: 20px;
  vertical-align: middle;
  margin-top: -5px; }

.icon-star {
  height: 20px; }

@media (max-width: 787px) {
  .lawyer-list h4 {
    font-size: 16px; } }
/* Testimonies Section
---------------------------------------------*/
.testimonies-section {
  background-color: #FFFFFF; }

.testimonies-section h2 {
  color: #089ad6;
  padding-bottom: 40px; }

.testimonies-list li {
  list-style-type: none;
  margin-bottom: 30px; }

.testimonies-list img {
  max-height: 125px;
  float: right; }

.testimonies-list h4 {
  color: #089ad6;
  text-transform: uppercase;
  font-weight: bold; }

.testimonies-list blockquote {
  font-size: 16px;
  font-style: italic;
  padding: 0px;
  margin-bottom: 0px;
  border-left: none; }

@media (max-width: 787px) {
  .testimonies-list {
    padding-left: 20px; }

  .testimonies-list h4 {
    font-size: 16px; }

  .testimonies-list blockquote {
    font-size: 14px; } }
.testimony-video {
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto; }

@media (max-width: 992px) {
  .testimony-video {
    margin-top: 5%; } }
/* Garantia Section
---------------------------------------------*/
.garantia-section {
  background-color: #2877D7;
  color: #FFFFFF; }

.garantia-section img {
  padding-top: 30px;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto; }

@media (max-width: 991px) {
  .garantia-section h2 {
    margin-top: 50px; } }
.garantia-section li {
  font-size: 16px; }

/* Second CTA
---------------------------------------------*/
.cta-second {
  background: url(/img/second-cta/cierre-2.jpg) no-repeat center;
  background-size: cover;
  padding-bottom: 30px; }

.cta-second h2 {
  font-size: 3.1em;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 4em; }

@media (max-width: 992px) {
  .cta h2 {
    margin-top: 1.25em; } }
/* Radio Agricultura Player
---------------------------------------------*/
.radioAgriculturaPlayer {
  text-align: center; }

.radioAgriculturaPlayer audio {
  margin-top: 10px;
  margin-bottom: 20px; }

.home-page-anchor {
  position: absolute;
  top: -100px; }

.jumbotron {
  position: relative; }

/*--------------------------------------------
 * Categories Page Sections                  *
---------------------------------------------*/
/* Heading
---------------------------------------------*/
.categoria-heading {
  padding-top: 0px;
  padding-bottom: 0px;
  color: #FFFFFF;
  text-align: center;
  background: url(/img/categoria/writing.jpeg);
  background-repeat: no-repeat;
  background-position: center 55%;
  background-size: cover; }

.categoria-heading h1 {
  font-size: 2.25em;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 1.5em; }

@media (max-width: 992px) {
  .categoria-heading h1 {
    margin-top: 1.5em; } }
.categoria-heading p {
  font-size: 1.5em; }

.categoria-heading button {
  font-size: 1em;
  margin-top: 15px;
  margin-bottom: 40px; }

/* Content
---------------------------------------------*/
.categoria-body {
  padding-top: 50px;
  padding-bottom: 50px; }

.faq a {
  color: #333333;
  text-decoration: none; }

.panel-heading {
  padding: 20px;
  background-color: #f5f5f5; }

.faq-heading {
  position: relative; }

.faq-heading:hover {
  background-color: #c4c4c4; }

.faq-title {
  width: 95%; }

.panel-title {
  font-size: 1.25em;
  line-height: 1.5em; }

.panel-title a {
  display: block;
  padding: 20px;
  margin: -20px; }

.faq-anchor-link {
  position: absolute;
  display: inline-block;
  top: 0px;
  right: 0px;
  width: 5%;
  height: 100%; }

.faq-anchor {
  position: absolute;
  top: -100px; }

.anchor-icon {
  position: absolute;
  top: 15px;
  right: 10px;
  color: #7f7f7f;
  font-size: .75em; }

.panel-body {
  padding: 20px; }

.accordion-cta {
  margin-top: 40px; }

.accordion-cta button {
  margin-top: 10px;
  white-space: normal; }

.categoria-body h3 {
  font-size: 2em;
  text-transform: uppercase;
  text-align: center; }

@media (max-width: 992px) {
  .contact-panel {
    margin-top: 20px; } }
.team-photo {
  max-width: 250px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px; }

.team-quote {
  border: none;
  margin-bottom: 40px; }

.team-quote p {
  text-align: center;
  font-style: italic; }

.contact-panel-form {
  margin-top: 0px;
  margin-bottom: 0px; }

.contact-panel-form textarea {
  resize: vertical;
  font-size: 16px; }

.contact-panel-form-btn {
  margin-top: 10px;
  margin-bottom: 15px; }

/* Contact Success Page
---------------------------------------------*/
.alert-success h1 {
  text-align: center;
  text-transform: uppercase;
  margin: 5px; }

.contact-success h3 {
  text-transform: uppercase; }

.next-steps h3 {
  text-align: center; }
.next-steps img {
  margin-top: 10px; }
.next-steps ul {
  padding-left: 0px; }

@media (max-width: 787px) {
  .next-steps img {
    max-width: 75px;
    margin-top: 5px; } }
.extra-details {
  margin-top: 30px; }

.mientras-tanto h3 {
  font-size: 28px;
  margin-top: 0px; }
.mientras-tanto p {
  font-size: 18px; }
.mientras-tanto ul {
  font-size: 16px; }
.mientras-tanto button {
  margin-top: 10px; }

.emergencia img {
  max-width: 100px; }
.emergencia h3 {
  font-size: 28px;
  text-align: center;
  color: #b56f1d; }
.emergencia p {
  font-size: 20px;
  text-align: center;
  margin-bottom: 0px; }

/*--------------------------------------------
 * Lawyers' Landing Page Sections            *
---------------------------------------------*/
/* FOR GLOBAL */
.section-white h1, .section-white h2, .section-white h3, .section-white h4, .section-white h5 {
  color: #2877D7; }

.section-blue {
  background-color: #2877D7; }
  .section-blue h1, .section-blue h2, .section-blue h3, .section-blue h4, .section-blue h5, .section-blue p {
    color: #FFFFFF; }

.info-para-abgados {
  text-align: center; }

/* CTA
---------------------------------------------*/
.cta-main-lawyers {
  background: url(/img/lawyers-landing-page/looking-at-computer.jpg);
  background-size: cover;
  background-position: 70% 95%;
  background-repeat: no-repeat; }

/* Access New Clients
---------------------------------------------*/
.access-new-clients {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px; }
  .access-new-clients p {
    margin-top: 15px; }

/* Grow Your Business With Technology
---------------------------------------------*/
.grow-with-technology h2 {
  font-size: 3em;
  margin-bottom: 80px; }
.grow-with-technology p {
  margin-top: 30px;
  margin-bottom: 20px; }

/* Hundreds of Lawyers use MisAbogados
---------------------------------------------*/
.social-proof {
  background: url(/img/lawyers-landing-page/guy-with-phone.jpg);
  background-size: cover;
  background-position: 15% 0%;
  background-repeat: no-repeat; }
  .social-proof h2 {
    font-size: 2.75em;
    margin-top: 100px;
    margin-bottom: 30px; }
  .social-proof p {
    margin-bottom: 100px; }

/* Client Break-down
---------------------------------------------*/
.client-break-down {
  background: url(/img/lawyers-landing-page/desk-with-objects.png);
  background-size: cover;
  background-position: 44% 0%;
  background-repeat: no-repeat; }
  .client-break-down h2 {
    margin-bottom: 40px; }
  .client-break-down h3 {
    margin-top: 10px; }

.register-now button {
  font-size: 20px;
  margin-bottom: 50px; }

/* Lawyers Profile Page
---------------------------------------------*/
.lawyer-profile-header {
  background-color: #2877D7;
  color: #FFFFFF;
  padding-bottom: 0px;
  position: relative; }
  .lawyer-profile-header .profile-img {
    height: 200px;
    width: 200px;
    overflow: hidden;
    border-radius: 50%;
    position: absolute;
    margin-top: -10px;
    box-shadow: 0px 2px 5px #888888; }
  .lawyer-profile-header h1 {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 5px; }
  .lawyer-profile-header .qualifier {
    font-size: 18px; }
  .lawyer-profile-header p {
    margin-top: 10px;
    margin-bottom: 20px; }
  .lawyer-profile-header blockquote {
    border-left: none;
    padding: 0px; }
    .lawyer-profile-header blockquote h3 {
      margin-top: 20px;
      font-family: "Open Sans", Helvetica, Arial, sans-serif;
      font-weight: bold;
      line-height: 1.25em;
      text-align: center; }
  @media (max-width: 992px) {
    .lawyer-profile-header .profile-img {
      margin-top: 10px;
      position: relative;
      float: right; }
    .lawyer-profile-header h1 {
      margin-top: 45px; }
    .lawyer-profile-header p {
      margin-top: 10px;
      margin-bottom: 0px; }
    .lawyer-profile-header blockquote {
      margin-top: 30px;
      margin-bottom: 30px; } }
  @media (max-width: 768px) {
    .lawyer-profile-header .profile-img {
      max-height: 125px;
      max-width: 125px;
      margin-top: 15px; }
    .lawyer-profile-header h1 {
      margin-top: 30px;
      font-size: 30px; }
    .lawyer-profile-header .qualifier {
      font-size: 14px; }
    .lawyer-profile-header p {
      font-size: 14px;
      margin-top: 5px;
      margin-bottom: 0px; }
    .lawyer-profile-header h3 {
      font-size: 20px; } }
  @media (max-width: 400px) {
    .lawyer-profile-header .profile-img {
      max-width: 100px;
      max-height: 100px;
      margin-right: -15px;
      margin-top: 25px; } }

.lawyer-profile {
  padding-top: 40px; }
  .lawyer-profile h3, .lawyer-profile h4, .lawyer-profile h5 {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    color: #089ad6; }
  .lawyer-profile h3 {
    margin-top: 30px;
    text-transform: uppercase;
    font-weight: bold; }
  .lawyer-profile h5:first-of-type {
    margin-top: 5px; }
  .lawyer-profile h5 {
    font-size: 16px;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 5px; }

.overview:first-of-type {
  margin-top: 40px; }

.overview {
  margin-top: 20px;
  min-height: 35px; }
  .overview .icon-box {
    width: 20%;
    float: left;
    text-align: center;
    overflow: hidden; }
  .overview i {
    color: #4ccf5c;
    font-size: 30px; }
  .overview img {
    width: 30px; }
  .overview .description-box {
    width: 80%;
    padding-left: 10px;
    overflow: hidden; }
  .overview p {
    font-size: 14px;
    margin-bottom: 0px; }

@media (max-width: 765px) {
  .overview:first-of-type {
    margin-top: 0px; } }
.recommendation {
  margin-top: 40px; }
  .recommendation h4 {
    font-weight: bold;
    text-align: center;
    font-size: 16px; }
  .recommendation .progress {
    margin-bottom: 5px; }
  .recommendation .progress-bar {
    background-color: #4ccf5c; }
  .recommendation p {
    font-size: 14px;
    text-align: center; }

@media (max-width: 768px) {
  .recommendation {
    margin-top: 20px; }

  h3 {
    margin-top: 40px; } }
/*--------------------------------------------
 * Static Page Sections                  *
---------------------------------------------*/
/* Shared classes
---------------------------------------------*/
.static-content {
  max-width: 820px; }

.static-content h1 {
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 20px; }

.static-content h3 {
  margin-top: 40px; }

.static-content p {
  margin-bottom: 1em; }

.static-content ol {
  margin-top: -10px;
  margin-bottom: 20px;
  font-size: 1.25em; }

/* Terms & Conditions
---------------------------------------------*/
.version {
  color: #6f6f6f;
  font-size: 16px;
  font-weight: normal; }

/* Garantía
---------------------------------------------*/
.header-img {
  margin-bottom: 40px; }

.guarantee-cta {
  margin-top: 60px; }

/*# sourceMappingURL=MisAbogados.css.map */
