@charset "UTF-8";
/*
*
* MisAbogados Theme
*
*/
/* Variables
---------------------------------------------*/
/* Fonts */
/* backgrounds */
/* Elements */
/* Sizing */
/* Global
---------------------------------------------*/
/* Resets */
body {
  font-family: "Open Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 300;
  padding-top: 70px; }

@media (max-width: 1090px) {
  body {
    padding-top: 50px; } }
@media (min-width: 1200px) {
  .container {
    width: 1000px; } }
h1, h2, h3, h4 {
  font-family: "Raleway", serif;
  font-weight: 300; }

h2 {
  font-size: 3.25em; }

@media (max-width: 992px) {
  h2 {
    font-size: 2.2em; } }
p {
  font-size: 18px; }

.btn-lg {
  margin-top: 20px; }

/* Global Patterns */
.jumbotron {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  color: #ffffff;
  text-align: center; }
  .jumbotron h1 {
    font-size: 3.1em;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 4em; }
  .jumbotron p {
    font-size: 1.85em; }
  .jumbotron button {
    font-size: 1em;
    margin-top: 40px;
    margin-bottom: 80px; }
  .jumbotron h6 {
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase; }

@media (min-width: 1090px) {
  .jumbotron h1 {
    font-size: 3.25em; } }
@media (max-width: 992px) {
  .jumbotron h1 {
    font-size: 2.4em;
    margin-top: 2.4em; }
  .jumbotron button {
    margin-bottom: 50px; } }
.information-page-heading h1, .como-funciona-heading h1, .precios-heading h1 {
  margin-top: 3em;
  margin-bottom: 3em;
  text-transform: none; }
@media (max-width: 768px) {
  .information-page-heading h1, .como-funciona-heading h1, .precios-heading h1 {
    margin-top: 2em;
    margin-bottom: 2em; } }

.section-padding, .section, .background-overlay, .darken-bg, .greenen-bg, .bluen-bg, .bluen-bg-dark, .static-content {
  padding-top: 60px;
  padding-bottom: 60px; }

.section {
  /* Center headings on mobile */ }
  .section h2 {
    font-size: 3em;
    margin-bottom: 30px; }
  @media (max-width: 992px) {
    .section h2 {
      font-size: 2.2em; } }
  @media (max-width: 768px) {
    .section .col-xs-12 h2 {
      text-align: center; } }

/* For stacking sections of same color */
.section-extended {
  padding-top: 0px; }

@media (max-width: 768px) {
  .section-extended {
    margin-top: -40px; } }
.section-white h1, .section-white h2, .section-white h3, .section-white h4, .section-white h5 {
  color: #1e90bf; }

.section-blue {
  background-color: #1e90bf; }
  .section-blue h1, .section-blue h2, .section-blue h3, .section-blue h4, .section-blue h5, .section-blue p {
    color: #ffffff; }
  .section-blue li {
    color: #ffffff;
    font-size: 18px; }

.section-header {
  max-width: 725px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px; }
  .section-header p {
    margin-top: 15px; }

@media (max-width: 768px) {
  .img-description h3 {
    margin-top: 10px; } }

.glyphicon {
  vertical-align: middle;
  margin-top: -5px; }

.glyphicon-left {
  margin-right: 5px; }

.anchor {
  display: block;
  height: 100px;
  margin: -100px 0 0;
  visibility: hidden; }

@media (max-width: 992px) {
  .anchor {
    display: block;
    height: 50px;
    margin: -50px 0 0;
    visibility: hidden; } }
.alert-top {
  position: absolute;
  top: 105px;
  width: 80%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto; }

@media (max-width: 1090px) {
  .alert-top {
    top: 70px; } }
/* Helpers
---------------------------------------------*/
/* Helper method for vertically aligning two columns */
.vertically-center-cols {
  display: inline-block;
  vertical-align: middle;
  float: none;
  margin-right: -4px; }

/* Adds a black overlay with transparency */
.dark-bg {
  background-color: rgba(43, 43, 43, 0.5); }

/* Adds a green overlay with transparency */
.green-bg {
  background-color: rgba(76, 207, 92, 0.75); }

/* Adds a blue overlay with transparency */
.blue-bg {
  background-color: rgba(30, 144, 191, 0.8); }

/* Counters section padding */
.background-overlay, .darken-bg, .greenen-bg, .bluen-bg, .bluen-bg-dark {
  margin-top: -60px;
  margin-bottom: -60px; }

/* Adds a dark overlay with transparency */
.darken-bg {
  background-color: rgba(43, 43, 43, 0.6); }

/* Adds a green overlay with transparency */
.greenen-bg {
  background-color: rgba(76, 207, 92, 0.65); }

/* Adds a blue overlay with transparency */
.bluen-bg {
  background-color: rgba(30, 144, 191, 0.5); }

.bluen-bg-dark {
  background-color: rgba(30, 144, 191, 0.8); }

@media (max-width: 768px) {
  .collapse-nicely .col-xs-12 {
    margin-bottom: 40px; } }

/* Adds helper class for removing button background */
.btn-no-fill {
  background-color: transparent;
  color: #ffffff; }

/* For implementing a 5 colum layout */
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px; }

.col-xs-5ths {
  width: 20%;
  float: left; }

@media (min-width: 768px) {
  .col-sm-5ths {
    width: 20%;
    float: left; } }
@media (min-width: 992px) {
  .col-md-5ths {
    width: 20%;
    float: left; } }
@media (min-width: 1200px) {
  .col-lg-5ths {
    width: 20%;
    float: left; } }
/* Navbar
---------------------------------------------*/
/* 2 row navbar */
@media (min-width: 768px) {
  .two-row .navbar-collapse {
    clear: left; } }
/* Redefines navbar breakpoint */
@media (max-width: 1090px) {
  .navbar-header {
    float: none; }

  .navbar-left, .navbar-right {
    float: none !important; }

  .navbar-toggle {
    display: block; }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }

  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px; }

  .navbar-collapse.collapse {
    display: none !important; }

  .navbar-nav {
    float: none !important;
    margin-top: 7.5px; }

  .navbar-nav > li {
    float: none; }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px; }

  .collapse.in {
    display: block !important; } }
.navbar {
  background-color: #2b2b2b; }

.navbar .container {
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
  width: 100%; }

.navbar-header {
  float: none;
  padding-left: 25px;
  padding-right: 25px; }

.navbar-fixed-top {
  border-bottom: solid 1px #363636; }

.navbar-brand {
  height: 50px;
  margin-left: 5px !important;
  padding: 9px 0px; }

.navbar-logo {
  height: 33px; }

@media (min-width: 1090px) {
  .navbar-brand {
    height: 50px;
    margin-left: 0px !important;
    padding: 9px 0px; }

  .navbar-logo {
    height: 33px; } }
.navbar-ctl {
  height: 50px;
  float: right;
  padding-right: 5px; }

.navbar-ctl li {
  float: left;
  margin-right: 20px;
  padding-top: 15px; }

.navbar-ctl li:last-of-type {
  margin-right: 0px; }

.navbar-ctl a {
  color: #ffffff !important;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none; }

.navbar-ctl a:hover {
  color: #b2b2b2 !important; }

.navbar-ctl ul {
  padding-left: 0px !important;
  min-width: 150px; }

@media (min-width: 768px) {
  .country-selector {
    padding-top: 12px !important; } }
.dropdown-toggle img {
  height: 25px; }

.country-selector li {
  width: 100%;
  padding-top: 0px; }

.country-selector li img {
  margin-right: 10px;
  height: 20px; }

.country-selector li a {
  padding: 10px 20px !important;
  font-size: 14px; }

.navbar-button a {
  margin-top: 2px;
  color: #ffffff !important;
  font-weight: bold; }

.navbar-button a:hover {
  color: #b2b2b2 !important; }

.dropdown-menu {
  background-color: #2b2b2b;
  color: #ffffff; }

.categoria-list {
  font-size: 14px;
  width: 300px !important; }

.categoria-list li a {
  padding-top: 3px !important;
  padding-bottom: 3px !important; }

.dropdown-menu li a {
  white-space: normal; }

.dropdown-menu li a:hover {
  background-color: #454545 !important; }

.navbar-button button {
  margin-left: 15px;
  margin-bottom: 25px; }

@media (min-width: 1090px) {
  .button-bar {
    height: 30px; }

  .navbar-button a {
    margin-top: 0px;
    padding-top: 7px !important;
    padding-bottom: 6px !important; }

  .navbar ul {
    padding-left: 0px;
    border-top: solid 1px #363636;
    width: 100%; }

  .navbar-button {
    width: 16.66666666666667%;
    border-left: solid 1px #363636;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    background: linear-gradient(top, #2b2b2b, #262626);
    /* Standard syntax */
    background: -webkit-linear-gradient(top, #2b2b2b, #262626);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, #2b2b2b, #262626);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top, #2b2b2b, #262626);
    /* For Firefox 3.6 to 15 */ }

  .navbar-button button {
    margin-top: 4px;
    margin-left: 0px;
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: bold;
    max-height: 25px;
    max-width: 175px;
    padding-top: 2px;
    padding-bottom: 2px; }

  .navbar-button button span {
    margin-top: -3px;
    font-weight: bold; }

  .navbar-button:last-of-type {
    border-right: solid 1px #363636; } }
.navbar-toggle {
  margin-right: 5px; }

@media (min-width: 768px) {
  .navbar-toggle {
    margin-right: 5px;
    margin-left: 15px; } }
@media (max-width: 1090px) {
  .navbar-collapse ul {
    padding-left: 20px; }

  .navbar-nav li a {
    padding-top: 6px;
    padding-bottom: 6px; } }
/* Contact Form
---------------------------------------------*/
.contact-form h4 {
  text-align: center;
  text-transform: uppercase;
  font-size: 2em; }

.contact-form h5 {
  text-align: center;
  font-size: 1.25em; }

.bold {
  font-weight: bold; }

.contact-form form {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto; }

.form-group {
  margin-bottom: 10px; }

.btn-default.active {
  background-color: #c0c0c0 !important; }

.contact-form textarea {
  resize: vertical; }

.contact-form .btn-lg {
  margin-top: 10px; }

/* Footer
---------------------------------------------*/
/* Footer: Main */
.footer {
  color: #ffffff; }

.footer li a {
  text-decoration: none;
  border-bottom: 1px dotted; }

.footer li a:hover {
  color: #ffffff;
  border-bottom: 1px solid; }

.footer-main {
  background-color: black;
  padding-top: 30px;
  padding-bottom: 40px; }

.footer-main img {
  margin-bottom: 25px; }

.footer-main a {
  color: #b2b2b2; }

.footer-main p {
  margin-bottom: 25px; }

.footer-main h4 {
  margin-top: 20px; }

.footer-main ul {
  padding-left: 10px; }

.footer-main li {
  list-style-type: none;
  margin-bottom: 3px; }

.social-icons {
  padding-left: 10px; }

.footer-main i {
  font-size: 32px;
  padding-right: 2px; }

.footer-main i:hover {
  color: #ffffff; }

.webpay-img {
  margin-top: 20px;
  max-height: 50px; }

@media (min-width: 1200px) {
  .footer-contact .container {
    width: 1200px; } }
/* Footer: Contact Information */
.footer-contact {
  background-color: #1e90bf;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center; }

.footer-contact small {
  text-transform: uppercase; }

@media (max-width: 992px) {
  .footer-contact div {
    margin-top: 5px;
    margin-bottom: 5px; } }
.footer-contact i {
  font-size: 18px;
  padding-right: 5px;
  vertical-align: middle; }

.footer-contact a {
  color: #ffffff; }

/*--------------------------------------------
 * Home Page Sections                        *
---------------------------------------------*/
/* Shared CTA styles
---------------------------------------------*/
.cta .thumbnail {
  background: transparent;
  border: none; }

.cta .thumbnail img {
  max-height: 75px; }

/* Main CTA
---------------------------------------------*/
.cta-main {
  background: url(/img/main-cta/cta-bg.jpg);
  background-repeat: no-repeat;
  background-position: 35% 20%;
  background-size: cover; }

@media (max-width: 1090px) {
  .cta-main {
    margin-top: -15px;
    padding-top: 15px; } }
/* Categories Section
---------------------------------------------*/
.categories-section h2 {
  text-align: center; }
.categories-section .input-group {
  max-width: 350px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  float: none; }
@media (min-width: 992px) {
  .categories-section .input-group {
    padding-top: 25px;
    padding-bottom: 0px;
    float: left; } }

.categories-list {
  margin-top: 35px; }

.categories-list .thumbnail {
  position: relative;
  overflow: hidden;
  height: 160px;
  background-color: #f5f5f5; }

.caption h5 {
  color: #333333;
  font-size: .85em; }

@media (min-width: 992px) {
  .caption h5 {
    font-size: 1em; } }
.caption-overlay {
  background-color: rgba(0, 0, 0, 0.55);
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 2%;
  opacity: 0;
  z-index: 2;
  text-align: center; }

.caption-overlay h5 {
  color: #ffffff !important;
  font-size: 1.05em;
  font-weight: bold;
  margin-top: 30px; }

.caption-overlay button {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  bottom: 15px; }

.caption-overlay button span {
  margin-right: 0px; }

.caption-overlay:hover {
  opacity: 100; }

.categories-list img {
  height: 75px;
  margin-top: 15px; }

.categories-list h5 {
  text-align: center;
  text-transform: uppercase; }

/* Laywers Section
---------------------------------------------*/
@media (max-width: 768px) {
  .lawyer-list {
    margin-top: 75px;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px; } }
.lawyer-list li {
  list-style-type: none;
  margin-bottom: 40px;
  font-size: 14px; }

.lawyer-list h4 {
  font-weight: bold;
  margin-top: 5px; }

.lawyer-pic img {
  max-width: 150px; }

.icon-certificate {
  height: 20px;
  vertical-align: middle;
  margin-top: -5px; }

.icon-star {
  height: 20px; }

@media (max-width: 788px) {
  .lawyer-list h4 {
    font-size: 18px; } }
/* Testimonies Section
---------------------------------------------*/
.testimonies-section h2 {
  padding-bottom: 40px; }

.testimonies-list li {
  list-style-type: none;
  margin-bottom: 30px; }

.testimonies-list img {
  max-height: 125px;
  float: right; }

.testimonies-list h4 {
  text-transform: uppercase;
  font-weight: bold; }

.testimonies-list blockquote {
  font-size: 18px;
  font-style: italic;
  padding: 0px;
  margin-bottom: 0px;
  border-left: none; }

@media (max-width: 788px) {
  .testimonies-section h2 {
    padding-bottom: 20px; }

  .testimonies-list {
    padding-left: 20px; }

  .testimonies-list h4 {
    font-size: 18px; }

  .testimonies-list blockquote {
    font-size: 14px; } }
.testimony-video {
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto; }

@media (max-width: 992px) {
  .testimony-video {
    margin-top: 5%; } }
/* Garantia Section
---------------------------------------------*/
.garantia-section img {
  padding-top: 30px;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto; }

@media (max-width: 992px) {
  .garantia-section h2 {
    margin-top: 50px; } }
.garantia-section li {
  font-size: 18px; }

/* Second CTA
---------------------------------------------*/
.cta-second {
  background: url(/img/second-cta/cierre-2.jpg) no-repeat center;
  background-size: cover;
  padding-bottom: 30px;
  margin-bottom: 0px; }

.cta-second h2 {
  font-size: 3.1em;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 4em; }

@media (max-width: 992px) {
  .cta h2 {
    margin-top: 2.4em; } }
.dropdown-menu.typeahead {
  background-color: #ffffff;
  color: #333333; }

/* Radio Agricultura Player
---------------------------------------------*/
.radioAgriculturaPlayer {
  text-align: center; }

.radioAgriculturaPlayer audio {
  margin-top: 10px;
  margin-bottom: 20px; }

.home-page-anchor {
  position: absolute;
  top: -100px; }

.testimonies-section > .container {
  position: relative; }

/*--------------------------------------------
 * Categories Page Sections                  *
---------------------------------------------*/
/* Heading
---------------------------------------------*/
.categoria-heading {
  background: url(/img/categoria/writing.jpeg);
  background-repeat: no-repeat;
  background-position: center 55%;
  background-size: cover; }

.categoria-heading h1 {
  font-size: 2.25em; }

.categoria-heading p {
  font-size: 1.5em; }

.categoria-heading button {
  font-size: .75em;
  margin-top: 15px; }

/* Content
---------------------------------------------*/
.faq a {
  color: #333333;
  text-decoration: none; }

.panel-heading {
  padding: 20px;
  background-color: #f5f5f5; }

.faq-heading {
  position: relative; }

.faq-heading:hover {
  background-color: #c4c4c4; }

.faq-title {
  width: 95%; }

.panel-title {
  font-size: 1.25em;
  line-height: 1.5em; }

.panel-title a {
  display: block;
  padding: 20px;
  margin: -20px; }

.faq-anchor-link {
  position: absolute;
  display: inline-block;
  top: 0px;
  right: 0px;
  width: 5%;
  height: 100%; }

.faq-anchor {
  position: absolute;
  top: -100px; }

.anchor-icon {
  position: absolute;
  top: 15px;
  right: 10px;
  color: #7f7f7f;
  font-size: .75em; }

.panel-body {
  padding: 20px; }

.accordion-cta {
  margin-top: 40px; }

.accordion-cta button {
  margin-top: 10px;
  white-space: normal; }

.categoria-body h3 {
  font-size: 2em;
  text-transform: uppercase;
  text-align: center; }

@media (max-width: 992px) {
  .contact-panel {
    margin-top: 20px; } }
.team-photo {
  max-width: 250px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px; }

.team-quote {
  border: none;
  margin-bottom: 40px; }

.team-quote p {
  text-align: center;
  font-style: italic; }

.contact-panel-form {
  margin-top: 0px;
  margin-bottom: 0px; }

.contact-panel-form textarea {
  resize: vertical;
  font-size: 18px; }

.contact-panel-form-btn {
  margin-top: 10px;
  margin-bottom: 15px; }

/* Contact Success Page
---------------------------------------------*/
.alert-success h1 {
  text-align: center;
  text-transform: uppercase;
  margin: 5px; }

.contact-success h3 {
  text-transform: uppercase; }

.next-steps h3 {
  text-align: center; }
.next-steps img {
  margin-top: 10px; }
.next-steps ul {
  padding-left: 0px; }

@media (max-width: 788px) {
  .next-steps img {
    max-width: 75px;
    margin-top: 5px; } }
.extra-details {
  margin-top: 30px; }

.mientras-tanto h3 {
  font-size: 28px;
  margin-top: 0px; }
.mientras-tanto p {
  font-size: 20px; }
.mientras-tanto ul {
  font-size: 18px; }
.mientras-tanto button {
  margin-top: 10px; }

.emergencia img {
  max-width: 100px; }
.emergencia h3 {
  font-size: 28px;
  text-align: center;
  color: #b56f1d; }
.emergencia p {
  font-size: 22px;
  text-align: center;
  margin-bottom: 0px; }

/*--------------------------------------------
 * Lawyers' Landing Page Sections            *
---------------------------------------------*/
/* CTA
---------------------------------------------*/
.cta-main-lawyers {
  background: url(/img/lawyers-landing-page/looking-at-computer.jpg);
  background-size: cover;
  background-position: 70% 95%;
  background-repeat: no-repeat; }

/* Access New Clients
---------------------------------------------*/
.access-new-clients h2 {
  margin-bottom: 15px; }

/* Grow Your Business With Technology
---------------------------------------------*/
.grow-with-technology h2 {
  margin-bottom: 80px; }
.grow-with-technology p {
  margin-top: 30px;
  margin-bottom: 20px; }

/* Hundreds of Lawyers use MisAbogados
---------------------------------------------*/
.social-proof {
  background: url(/img/lawyers-landing-page/guy-with-phone.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: 15% 0%;
  background-repeat: no-repeat; }
  .social-proof h2 {
    margin-top: 100px; }
  .social-proof p {
    margin-bottom: 100px; }

/* Client Break-down
---------------------------------------------*/
.client-break-down {
  background: url(/img/lawyers-landing-page/desk-with-objects.png);
  background-size: cover;
  background-position: 44% 0%;
  background-repeat: no-repeat; }
  .client-break-down h2 {
    margin-bottom: 40px; }
  .client-break-down h3 {
    margin-top: 10px; }

/* Register now section
---------------------------------------------*/
.register-now h2 {
  margin-bottom: 15px; }
.register-now button {
  font-size: 22px;
  margin-bottom: 50px; }

/* Lawyers Profile Page
---------------------------------------------*/
/* Heading
---------------------------------------------*/
.lawyer-profile-header {
  background-color: #1e90bf;
  color: #ffffff;
  padding-bottom: 0px;
  position: relative;
  min-height: 190px; }
  .lawyer-profile-header .profile-img {
    height: 200px;
    width: 200px;
    overflow: hidden;
    border-radius: 50%;
    position: absolute;
    margin-top: -10px;
    box-shadow: 0px 2px 5px #888888; }
  .lawyer-profile-header h1 {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 5px; }
  .lawyer-profile-header .qualifier {
    font-size: 20px; }
  .lawyer-profile-header p {
    margin-top: 10px;
    margin-bottom: 20px; }
  .lawyer-profile-header blockquote {
    border-left: none;
    padding: 0px; }
    .lawyer-profile-header blockquote h3 {
      margin-top: 20px;
      font-family: "Open Sans", Helvetica, Arial, sans-serif;
      font-weight: bold;
      line-height: 1.25em;
      text-align: center; }
  @media (max-width: 992px) {
    .lawyer-profile-header .profile-img {
      margin-top: 10px;
      position: relative;
      float: right; }
    .lawyer-profile-header h1 {
      margin-top: 45px; }
    .lawyer-profile-header p {
      margin-top: 10px;
      margin-bottom: 0px; }
    .lawyer-profile-header blockquote {
      margin-top: 30px;
      margin-bottom: 30px; } }
  @media (max-width: 768px) {
    .lawyer-profile-header .profile-img {
      max-height: 125px;
      max-width: 125px;
      margin-top: 15px; }
    .lawyer-profile-header h1 {
      margin-top: 30px;
      font-size: 32px; }
    .lawyer-profile-header .qualifier {
      font-size: 16px; }
    .lawyer-profile-header p {
      font-size: 16px;
      margin-top: 5px;
      margin-bottom: 0px; }
    .lawyer-profile-header h3 {
      font-size: 22px; } }
  @media (max-width: 400px) {
    .lawyer-profile-header .profile-img {
      max-width: 100px;
      max-height: 100px;
      margin-right: -15px;
      margin-top: 25px; } }

/* Profile
---------------------------------------------*/
.lawyer-profile {
  padding-top: 40px; }
  .lawyer-profile h3, .lawyer-profile h4, .lawyer-profile h5 {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    color: #1e90bf; }
  .lawyer-profile h3 {
    margin-top: 30px;
    text-transform: uppercase;
    font-weight: bold; }
  .lawyer-profile h5:first-of-type {
    margin-top: 5px; }
  .lawyer-profile h5 {
    font-size: 18px;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 5px; }

/* At a glance
---------------------------------------------*/
.overview:first-of-type {
  margin-top: 40px; }

.overview {
  margin-top: 20px;
  min-height: 35px; }
  .overview .icon-box {
    width: 20%;
    float: left;
    text-align: center;
    overflow: hidden; }
  .overview i {
    color: #4ccf5c;
    font-size: 30px; }
  .overview img {
    width: 30px; }
  .overview .description-box {
    width: 80%;
    padding-left: 10px;
    overflow: hidden; }
  .overview p {
    font-size: 16px;
    margin-bottom: 0px; }

@media (max-width: 765px) {
  .overview:first-of-type {
    margin-top: 0px; } }
.recommendation {
  margin-top: 40px; }
  .recommendation h4 {
    font-weight: bold;
    text-align: center;
    font-size: 18px; }
  .recommendation .progress {
    margin-bottom: 5px; }
  .recommendation .progress-bar {
    background-color: #4ccf5c; }
  .recommendation p {
    font-size: 16px;
    text-align: center; }

@media (max-width: 768px) {
  .recommendation {
    margin-top: 20px; }

  h3 {
    margin-top: 40px; } }
/* Users say
---------------------------------------------*/
.users-say {
  background: url(/img/lawyer-profile/woman-looking-outside.png);
  background-repeat: no-repeat;
  background-position: 65% 20%;
  background-size: cover; }
  .users-say h2 {
    text-transform: uppercase;
    margin-bottom: 30px; }

.users-say-ratings {
  min-height: 50px;
  margin-bottom: 30px; }

.users-say-icon {
  width: 15%;
  float: left; }
  .users-say-icon img {
    float: right;
    margin-top: 2px;
    margin-right: 10px;
    max-width: 50px; }

.users-say-label {
  width: 40%;
  padding-left: 20px;
  float: left;
  font-weight: bold; }
  .users-say-label p {
    margin-top: 10px; }

.users-say-rating {
  width: 45%;
  padding-left: 20px;
  float: left; }
  .users-say-rating img {
    margin-top: 6px;
    max-width: 30px; }

@media (max-width: 410px) {
  .users-say-ratings {
    min-height: 50px;
    margin-bottom: 30px; }

  .users-say-icon img {
    margin-top: 6px;
    margin-right: 0px;
    max-width: 35px; }

  .users-say-label {
    width: 50%; }
    .users-say-label p {
      font-size: 16px; }

  .users-say-rating {
    width: 35%; }
    .users-say-rating img {
      margin-top: 15px;
      max-width: 16px; } }
/* Client Feedback
---------------------------------------------*/
.client-feedback h2 {
  text-align: center;
  margin-bottom: 30px; }
.client-feedback ul {
  list-style-type: none;
  padding-left: 0px; }
.client-feedback li {
  background-color: #e4e4e4;
  padding: 20px;
  margin-bottom: 30px; }
.client-feedback h4 {
  color: #1e90bf;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 5px; }
.client-feedback small {
  color: #1e90bf;
  font-size: 14px;
  margin-top: 0px; }
.client-feedback p {
  font-style: italic;
  margin-top: 10px; }
.client-feedback img {
  max-width: 30px;
  margin-left: -5px;
  margin-right: 5px; }
.client-feedback button {
  background-color: #FED000;
  border-color: #DEB80B;
  font-weight: bold; }
.client-feedback button:hover {
  background-color: #ECBC03;
  border-color: #DEB80B; }

/* Granular details
---------------------------------------------*/
.granular-details {
  background: url(/img/lawyer-profile/guys-looking-at-ipad.png);
  background-repeat: no-repeat;
  background-position: 45% 65%;
  background-size: cover; }
  .granular-details h3 {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold; }
  .granular-details ul {
    list-style-type: none;
    margin-top: 20px;
    padding-left: 40px;
    font-weight: bold; }
  .granular-details li {
    margin-bottom: 20px; }
  .granular-details li a {
    color: #ffffff; }
  .granular-details img {
    margin-right: 15px;
    max-width: 50px; }

@media (max-width: 992px) {
  .granular-details ul {
    padding-left: 20px; }
  .granular-details li {
    font-size: 16px; } }
@media (max-width: 768px) {
  .granular-details ul {
    padding-left: 50px; } }
/*--------------------------------------------
 * Como Funciona Page Sections               *
---------------------------------------------*/
/* Heading
---------------------------------------------*/
.como-funciona-heading {
  background: url(/img/como-funciona/couple-at-computer.jpg);
  background-repeat: no-repeat;
  background-position: center 25%;
  background-size: cover; }

/* Service Overview
---------------------------------------------*/
.service-overview h2 {
  margin-bottom: 15px; }
.service-overview img {
  max-width: 125px;
  margin-bottom: 20px; }
.service-overview button {
  margin-top: 30px; }

/* Lawyer Network
---------------------------------------------*/
.lawyer-network-features {
  padding-left: 0px;
  list-style-type: none; }
  .lawyer-network-features li {
    margin-top: 40px; }
  .lawyer-network-features img {
    float: left;
    margin-top: 2px;
    margin-right: 30px;
    margin-bottom: 5px; }
  @media (max-width: 768px) {
    .lawyer-network-features img {
      margin-left: 10px; } }
  .lawyer-network-features p {
    overflow: hidden; }

.lawyer-network-screenshot {
  max-width: 350px;
  width: 100%; }

/* Ongoing support
---------------------------------------------*/
.ongoing-support {
  background: url(/img/como-funciona/handshake.jpg);
  background-repeat: no-repeat;
  background-position: 57% 0%;
  background-size: cover; }

/* Guarantee Section
---------------------------------------------*/
.guarantee-section h2 {
  text-align: center; }

/* Find your lawyer
---------------------------------------------*/
.find-your-lawyer {
  background: url(/img/como-funciona/two-guys-at-computer.jpg);
  background-repeat: no-repeat;
  background-position: 36% 52%;
  background-size: cover; }
  .find-your-lawyer h2 {
    margin-bottom: 15px; }

/*--------------------------------------------
 * Precios Page Sections                     *
---------------------------------------------*/
/* Heading
---------------------------------------------*/
.precios-heading {
  background: url(/img/precios/credit-card-and-laptop.jpg);
  background-repeat: no-repeat;
  background-position: center 30%;
  background-size: cover; }

/* Benefits of using MisAbogados
---------------------------------------------*/
.benefits-of-using {
  background: url(/img/precios/guy-with-plans.jpg);
  background-repeat: no-repeat;
  background-position: center 65%;
  background-size: cover; }
  .benefits-of-using li {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px; }

/* Flexible pricing
---------------------------------------------*/
.flexible-pricing .container-fluid {
  max-width: 1100px; }
.flexible-pricing h2, .flexible-pricing .lead {
  text-align: center; }
.flexible-pricing .thumbnail {
  height: 300px;
  max-width: 350px;
  border: 0px;
  border-radius: 8px;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff; }
  .flexible-pricing .thumbnail h3 {
    color: #ffffff;
    font-weight: bold;
    margin-top: 0px; }
  .flexible-pricing .thumbnail .button-row {
    position: absolute;
    bottom: 38px; }
    .flexible-pricing .thumbnail .button-row button {
      font-weight: bold;
      font-size: 18px; }
    .flexible-pricing .thumbnail .button-row small {
      margin-left: 5px; }
    .flexible-pricing .thumbnail .button-row img {
      float: right;
      margin-left: 10px;
      margin-top: 7px; }
.flexible-pricing .dark-thumbnail-bg {
  background-color: rgba(31, 31, 31, 0.7);
  width: 100%;
  height: 100%;
  border-radius: 8px;
  padding: 20px; }

.solicitud-de-visa {
  background: url(/img/precios/travel-terminal.jpg);
  background-repeat: no-repeat;
  background-position: center 65%;
  background-size: cover; }

.promesa-de-compraventa {
  background: url(/img/precios/desk-with-objects.png);
  background-repeat: no-repeat;
  background-position: center 65%;
  background-size: cover; }

.factibilidad-de-marca {
  background: url(/img/precios/guy-on-phone.jpg);
  background-repeat: no-repeat;
  background-position: -50% 65%;
  background-size: cover; }

/* FAQ
---------------------------------------------*/
.precios-faq .container {
  max-width: 800px; }
.precios-faq h2 {
  text-align: center;
  margin-bottom: 40px; }
.precios-faq ul {
  padding-left: 0px; }
.precios-faq li {
  list-style-type: none;
  margin-bottom: 30px; }
.precios-faq img {
  float: left;
  margin-top: -5px;
  margin-right: 30px; }
.precios-faq p {
  overflow: hidden; }

/* Write to contact lawyer
---------------------------------------------*/
.write-to-contact {
  background: url(/img/precios/woman-with-laptop.jpg);
  background-repeat: no-repeat;
  background-position: center 65%;
  background-size: cover; }
  .write-to-contact h2 {
    margin-bottom: 20px; }

/* Contact form */
#advertisedPricingForm h4 {
  text-transform: none;
  margin-bottom: 20px; }
@media (max-width: 500px) {
  #advertisedPricingForm h4 {
    font-size: 22px; } }
#advertisedPricingForm .btn {
  margin-top: 20px;
  margin-bottom: 10px; }

/*--------------------------------------------
 * Static Page Sections                  *
---------------------------------------------*/
/* Shared classes
---------------------------------------------*/
.static-content {
  max-width: 820px; }

.static-content h1 {
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 20px; }

.static-content h3 {
  margin-top: 40px; }

.static-content p {
  margin-bottom: 1em; }

.static-content ol {
  margin-top: -10px;
  margin-bottom: 20px;
  font-size: 1.25em; }

/* Terms & Conditions
---------------------------------------------*/
.version {
  color: #6f6f6f;
  font-size: 18px;
  font-weight: normal; }

/* Garantía
---------------------------------------------*/
.header-img {
  margin-bottom: 40px; }

.guarantee-cta {
  margin-top: 60px; }

/*# sourceMappingURL=MisAbogados.css.map */
